# Partition

## Segmentation racine

### Utilitaires

#### Analyse multivariée, partitions

In [ ]:
from pepper_bivar import *
#, rel_pivot, couple_analysis, bipart, multipart, multipart_wmx

#### Partitions binaires

Cas des partitions en deux classes.

Elle sont définies par un prédicat de classe donné sous forme de boolean index (`class_bid`).

Le prédicat permet d'indiquer quels individus sont dans la classe et lesquels n'y sont pas.

Par exemple, `class_bid = data.ComplianceStatus == 'Compliant'`

### Conforme ou non

C'est une partition binaire racine du jeu de données.

Les relevés non conformes ne sont pas pris en compte dans la suite.

In [ ]:
is_compliant = data.ComplianceStatus == 'Compliant'
a_, n_, s_, _, e_, r_ = bipart(data, is_compliant)
N, S, E, R = sum(n_), sum(s_), sum(e_), sum(r_)
n = np.array(n_)           # n ⇒ effectif : n_o vs. n_x
s = np.array(s_)           # s ⇒ surface : s_o vs. s_x
e = np.array(e_)           # e ⇒ conso : e_o vs. e_x
r = np.array(r_)           # r ⇒ emiss : r_o vs. r_x

W = pd.DataFrame([n, s, e, r], index=['n', 's', 'e', 'r'], columns=['o', 'x'])
w_n = W.loc['n / N'] = n / N    # w_0 = p(n) ⇒ multiplicité relative : p_o vs. p_x, proba d'∈
w_s = W.loc['s / S'] = s / S    # w_1 = p(s) ⇒ surface relative : w_s_o vs. w_s_x
w_e = W.loc['e / E'] = e / E    # w_2 = p(e) ⇒ énergie relative : w_e_o vs. w_e_x
w_r = W.loc['r / R'] = r / R    # w_3 = p(r) ⇒ émissions relatives : w_r_o vs. w_r_x
W['sum'] = W.sum(axis=1)
W['std'] = W[['o', 'x']].std(axis=1)

display(W.applymap(lambda x: f'{np.round(x, 2):.2f}'))

compliant = a_[0]

                    o             x             sum             std
n             3211.00        165.00         3376.00         2153.85
s        307595279.00   12562743.00    320158022.00    208619506.88
e      17768923539.27  446838910.60  18215762449.87  12248563505.22
r           391933.52      11177.09       403110.61       269235.45
n / N            0.95          0.05            1.00            0.64
s / S            0.96          0.04            1.00            0.65
e / E            0.98          0.02            1.00            0.67
r / R            0.97          0.03            1.00            0.67

#### Partition des conformes en résidentiel vs. non résidentiel

In [ ]:
multipart_wmx(compliant, 'BuildingType')

['']

,NonResidential,Nonresidential COS,Multifamily MR (5-9),Campus,SPS-District K-12,Multifamily LR (1-4),Multifamily HR (10+),Nonresidential WA,sum
n,1432.00,81.00,570.00,24.00,10.00,985.00,108.00,1.00,3211.00
s,162194156.00,7666620.00,53100310.00,16357665.00,1535573.00,43126491.00,23546392.00,68072.00,307595279.00
e,11190033363.04,505151864.50,1645809083.53,1950762832.88,66241633.00,1363614116.44,1044129826.62,3180819.25,17768923539.27
r,241644.46,11789.31,37439.92,44621.63,1629.02,26892.49,27894.52,22.17,391933.52
sum,11352470595.50,512830354.81,1698947403.45,1967165143.50,67778845.02,1406768484.93,1067704221.14,3248914.42,18076913962.79

,NonResidential,Nonresidential COS,Multifamily MR (5-9),Campus,SPS-District K-12,Multifamily LR (1-4),Multifamily HR (10+),Nonresidential WA,sum
n,0.45,0.03,0.18,0.01,0.00,0.31,0.03,0.00,1.00
s,0.53,0.02,0.17,0.05,0.00,0.14,0.08,0.00,1.00
e,0.63,0.03,0.09,0.11,0.00,0.08,0.06,0.00,1.00
r,0.62,0.03,0.10,0.11,0.00,0.07,0.07,0.00,1.00
sum,2.22,0.11,0.54,0.28,0.02,0.59,0.24,0.00,4.00

In [ ]:
multipart_wmx(compliant, 'PrimaryPropertyType')

['']

,Hotel,Other,Mid-Rise Multifamily,Mixed Use Property,University,Small- and Mid-Sized Office,Self-Storage Facility,Warehouse,K-12 School,Large Office,...,Residence Hall,Distribution Center,Worship Facility,Low-Rise Multifamily,Supermarket / Grocery Store,Laboratory,Refrigerated Warehouse,Restaurant,High-Rise Multifamily,sum
n,76.00,250.00,553.00,132.00,25.00,287.00,28.00,185.00,50.00,169.00,...,23.00,53.00,69.00,956.00,40.00,10.00,12.00,12.00,103.00,3211.00
s,12419512.00,24477410.00,50355886.00,14135081.00,15053475.00,13427354.00,1521080.00,11403862.00,3129299.00,61685616.00,...,1941366.00,3417544.00,2294808.00,41111601.00,2327282.00,1203211.00,466002.00,371303.00,21521758.00,307595279.00
e,965965550.19,2282012854.82,1552980294.66,1430312128.63,1326462137.19,761743720.34,26100832.11,365751349.73,143684265.81,2960018366.38,...,98096389.69,127484097.63,82999845.44,1276578188.88,403914822.38,262931276.00,44633136.94,63166776.69,902529728.62,17768923539.27
r,31634.46,48910.61,35166.93,36027.40,23148.51,11764.61,674.77,7932.51,4861.68,34979.95,...,2637.54,2661.96,2993.40,24728.23,8903.75,8494.24,451.37,2310.17,22926.49,391933.52
sum,978416772.65,2306539425.43,1603371900.59,1444483369.03,1341538785.70,775183125.96,27622614.88,377163329.24,146818476.49,3021739131.32,...,100040416.23,130904356.59,85297715.84,1317715474.11,406251048.12,264142991.24,45099602.31,63540401.86,924074516.12,18076913962.79

,Hotel,Other,Mid-Rise Multifamily,Mixed Use Property,University,Small- and Mid-Sized Office,Self-Storage Facility,Warehouse,K-12 School,Large Office,...,Residence Hall,Distribution Center,Worship Facility,Low-Rise Multifamily,Supermarket / Grocery Store,Laboratory,Refrigerated Warehouse,Restaurant,High-Rise Multifamily,sum
n,0.02,0.08,0.17,0.04,0.01,0.09,0.01,0.06,0.02,0.05,...,0.01,0.02,0.02,0.30,0.01,0.00,0.00,0.00,0.03,1.00
s,0.04,0.08,0.16,0.05,0.05,0.04,0.00,0.04,0.01,0.20,...,0.01,0.01,0.01,0.13,0.01,0.00,0.00,0.00,0.07,1.00
e,0.05,0.13,0.09,0.08,0.07,0.04,0.00,0.02,0.01,0.17,...,0.01,0.01,0.00,0.07,0.02,0.01,0.00,0.00,0.05,1.00
r,0.08,0.12,0.09,0.09,0.06,0.03,0.00,0.02,0.01,0.09,...,0.01,0.01,0.01,0.06,0.02,0.02,0.00,0.01,0.06,1.00
sum,0.20,0.41,0.51,0.26,0.19,0.21,0.02,0.14,0.05,0.51,...,0.03,0.04,0.04,0.57,0.07,0.04,0.01,0.01,0.21,4.00

La ligne de démarcation, un hyperparamètre à sa manière.

Ligne de base, ajustée à l'aide du principe d'inclusion-exclusion.

In [ ]:
is_multifamily_building = compliant.BuildingType.str.contains('Multifamily')
is_multifamily_use = compliant.PrimaryPropertyType.str.contains('Multifamily')

is_campus = compliant.BuildingType == 'Campus'
is_nonresidential = compliant.BuildingType == 'NonResidential'

is_residential = (
    (is_multifamily_building | is_multifamily_use)
    & ~(is_campus | is_nonresidential)
)

residential = compliant[is_residential]
non_residential = compliant[~is_residential]

multipart_wmx(residential, 'BuildingType')
multipart_wmx(non_residential, 'BuildingType')

,Multifamily MR (5-9),Multifamily LR (1-4),Multifamily HR (10+),sum
n,570.00,985.00,108.00,1663.00
s,53100310.00,43126491.00,23546392.00,119773193.00
e,1645809083.53,1363614116.44,1044129826.62,4053553026.60
r,37439.92,26892.49,27894.52,92226.93
n' = n/N,0.34,0.59,0.06,1.00
s' = s/S,0.44,0.36,0.20,1.00
e' = e/E,0.41,0.34,0.26,1.00
r' = r/R,0.41,0.29,0.30,1.00
n' / n',1.00,1.00,1.00,3.00
s' / n',1.29,0.61,3.03,4.93
e' / n',1.18,0.57,3.97,5.72
r' / n',1.18,0.49,4.66,6.33

,NonResidential,Nonresidential COS,Campus,SPS-District K-12,Nonresidential WA,sum
n,1432.00,81.00,24.00,10.00,1.00,1548.00
s,162194156.00,7666620.00,16357665.00,1535573.00,68072.00,187822086.00
e,11190033363.04,505151864.50,1950762832.88,66241633.00,3180819.25,13715370512.67
r,241644.46,11789.31,44621.63,1629.02,22.17,299706.59
n' = n/N,0.93,0.05,0.02,0.01,0.00,1.00
s' = s/S,0.86,0.04,0.09,0.01,0.00,1.00
e' = e/E,0.82,0.04,0.14,0.00,0.00,1.00
r' = r/R,0.81,0.04,0.15,0.01,0.00,1.00
n' / n',1.00,1.00,1.00,1.00,1.00,5.00
s' / n',0.93,0.78,5.62,1.27,0.56,9.16
e' / n',0.88,0.70,9.17,0.75,0.36,11.87
r' / n',0.87,0.75,9.60,0.84,0.11,12.18

In [ ]:
print_title('Residential')

index = is_residential
left = 'BuildingType'
right = 'PrimaryPropertyType'

l, r, mx = couple_analysis(compliant, index, left, right)

RESIDENTIAL

Left modalities (field 'BuildingType')
Lexicon of size : 3

                  labels  freq     %
id
1   Multifamily LR (1-4)   985  59.2
2   Multifamily MR (5-9)   570  34.3
3   Multifamily HR (10+)   108   6.5

Right modalities (field 'PrimaryPropertyType')
Lexicon of size : 10

                         labels  freq     %
id
1          Low-Rise Multifamily   954  57.4
2          Mid-Rise Multifamily   553  33.3
3         High-Rise Multifamily   103   6.2
4         Senior Care Community    24   1.4
5            Mixed Use Property    19   1.1
6                         Other     5   0.3
7                Residence Hall     2   0.1
8                         Hotel     1   0.1
9   Small- and Mid-Sized Office     1   0.1
10                   University     1   0.1

[Right] (10, 3) (PrimaryPropertyType|BuildingType) incidence matrix

BuildingType,Multifamily LR (1-4),Multifamily MR (5-9),Multifamily HR (10+),Total
PrimaryPropertyType,,,,
Low-Rise Multifamily,954,,,954
Mid-Rise Multifamily,,553,,553
High-Rise Multifamily,,,103,103
Senior Care Community,15,6,3,24
Mixed Use Property,11,8,,19
Other,3,1,1,5
Residence Hall,,2,,2
Hotel,,,1,1
Small- and Mid-Sized Office,1,,,1
University,1,,,1
Total,985,570,108,1663

### Résidentiel ou non

 #### Sous-classe Multifamily buildings

##### Multifamily buildings

In [ ]:
print_title('Multifamily buildings')

index = is_multifamily_building
left = 'BuildingType'
right = 'PrimaryPropertyType'

l, r, mx = couple_analysis(compliant, index, left, right)

MULTIFAMILY BUILDINGS

Left modalities (field 'BuildingType')
Lexicon of size : 3

                  labels  freq     %
id
1   Multifamily LR (1-4)   985  59.2
2   Multifamily MR (5-9)   570  34.3
3   Multifamily HR (10+)   108   6.5

Right modalities (field 'PrimaryPropertyType')
Lexicon of size : 10

                         labels  freq     %
id
1          Low-Rise Multifamily   954  57.4
2          Mid-Rise Multifamily   553  33.3
3         High-Rise Multifamily   103   6.2
4         Senior Care Community    24   1.4
5            Mixed Use Property    19   1.1
6                         Other     5   0.3
7                Residence Hall     2   0.1
8                         Hotel     1   0.1
9   Small- and Mid-Sized Office     1   0.1
10                   University     1   0.1

[Right] (10, 3) (PrimaryPropertyType|BuildingType) incidence matrix

BuildingType,Multifamily LR (1-4),Multifamily MR (5-9),Multifamily HR (10+),Total
PrimaryPropertyType,,,,
Low-Rise Multifamily,954,,,954
Mid-Rise Multifamily,,553,,553
High-Rise Multifamily,,,103,103
Senior Care Community,15,6,3,24
Mixed Use Property,11,8,,19
Other,3,1,1,5
Residence Hall,,2,,2
Hotel,,,1,1
Small- and Mid-Sized Office,1,,,1
University,1,,,1
Total,985,570,108,1663

##### Multifamily uses

In [ ]:
print_title('Multifamily uses')

index = is_multifamily_use
left = 'BuildingType'
right = 'PrimaryPropertyType'

l, r, mx = couple_analysis(compliant, index, left, right)

MULTIFAMILY USES

Left modalities (field 'BuildingType')
Lexicon of size : 5

                  labels  freq     %
id
1   Multifamily LR (1-4)   954  59.2
2   Multifamily MR (5-9)   553  34.3
3   Multifamily HR (10+)   103   6.4
4                 Campus     1   0.1
5         NonResidential     1   0.1

Right modalities (field 'PrimaryPropertyType')
Lexicon of size : 3

                   labels  freq     %
id
1    Low-Rise Multifamily   956  59.3
2    Mid-Rise Multifamily   553  34.3
3   High-Rise Multifamily   103   6.4

[Left] (5, 3) (BuildingType|PrimaryPropertyType) incidence matrix

PrimaryPropertyType,Low-Rise Multifamily,Mid-Rise Multifamily,High-Rise Multifamily,Total
BuildingType,,,,
Multifamily LR (1-4),954,,,954
Multifamily MR (5-9),,553,,553
Multifamily HR (10+),,,103,103
Campus,1,,,1
NonResidential,1,,,1
Total,956,553,103,1612

##### Multifamily facilities (buildings & uses)

In [ ]:
print_title('Multifamily facilities')

index = is_multifamily_building & is_multifamily_use
left = 'BuildingType'
right = 'PrimaryPropertyType'

l, r, mx = couple_analysis(compliant, index, left, right)

MULTIFAMILY FACILITIES

Left modalities (field 'BuildingType')
Lexicon of size : 3

                  labels  freq     %
id
1   Multifamily LR (1-4)   954  59.3
2   Multifamily MR (5-9)   553  34.3
3   Multifamily HR (10+)   103   6.4

Right modalities (field 'PrimaryPropertyType')
Lexicon of size : 3

                   labels  freq     %
id
1    Low-Rise Multifamily   954  59.3
2    Mid-Rise Multifamily   553  34.3
3   High-Rise Multifamily   103   6.4

[Right] (3, 3) (PrimaryPropertyType|BuildingType) incidence matrix

BuildingType,Multifamily LR (1-4),Multifamily MR (5-9),Multifamily HR (10+),Total
PrimaryPropertyType,,,,
Low-Rise Multifamily,954,,,954
Mid-Rise Multifamily,,553,,553
High-Rise Multifamily,,,103,103
Total,954,553,103,1610

##### Diverted multifamily buildings (used for something else than multifamily housing)

Ce sont seulement 55 invididus.

In [ ]:
print_title('Diverted multifamily used for something else')

index = is_multifamily_building & ~is_multifamily_use
left = 'BuildingType'
right = 'PrimaryPropertyType'

l, r, mx = couple_analysis(compliant, index, left, right)

DIVERTED MULTIFAMILY USED FOR SOMETHING ELSE

Left modalities (field 'BuildingType')
Lexicon of size : 3

                  labels  freq     %
id
1   Multifamily LR (1-4)    31  58.5
2   Multifamily MR (5-9)    17  32.1
3   Multifamily HR (10+)     5   9.4

Right modalities (field 'PrimaryPropertyType')
Lexicon of size : 7

                         labels  freq     %
id
1         Senior Care Community    24  45.3
2            Mixed Use Property    19  35.8
3                         Other     5   9.4
4                Residence Hall     2   3.8
5                         Hotel     1   1.9
6   Small- and Mid-Sized Office     1   1.9
7                    University     1   1.9

[Right] (7, 3) (PrimaryPropertyType|BuildingType) incidence matrix

BuildingType,Multifamily LR (1-4),Multifamily MR (5-9),Multifamily HR (10+),Total
PrimaryPropertyType,,,,
Senior Care Community,15,6,3,24
Mixed Use Property,11,8,,19
Other,3,1,1,5
Residence Hall,,2,,2
Hotel,,,1,1
Small- and Mid-Sized Office,1,,,1
University,1,,,1
Total,31,17,5,53

##### Diverted non multifamily buildings (used for multifamily housing)

Ce sont seulement 3 invididus.

In [ ]:
print_title('Diverted non multifamily buildings used for multifamily housing')

index = ~is_multifamily_building & is_multifamily_use
left = 'BuildingType'
right = 'PrimaryPropertyType'

l, r, mx = couple_analysis(compliant, index, left, right)
#display(data.loc[index])

DIVERTED NON MULTIFAMILY BUILDINGS USED FOR MULTIFAMILY HOUSING

Left modalities (field 'BuildingType')
Lexicon of size : 2

            labels  freq     %
id
1           Campus     1  50.0
2   NonResidential     1  50.0

Right modalities (field 'PrimaryPropertyType')
Lexicon of size : 1

                  labels  freq      %
id
1   Low-Rise Multifamily     2  100.0

[Left] (2, 1) (BuildingType|PrimaryPropertyType) incidence matrix

PrimaryPropertyType Low-Rise Multifamily Total
BuildingType
Campus                                 1     1
NonResidential                         1     1
Total                                  2     2

##### Multifamily buildings or uses

In [ ]:
print_title('Multifamily buildings or uses')

index = is_multifamily_building | is_multifamily_use
left = 'BuildingType'
right = 'PrimaryPropertyType'

l, r, mx = couple_analysis(compliant, index, left, right)

MULTIFAMILY BUILDINGS OR USES

Left modalities (field 'BuildingType')
Lexicon of size : 5

                  labels  freq     %
id
1   Multifamily LR (1-4)   985  59.2
2   Multifamily MR (5-9)   570  34.2
3   Multifamily HR (10+)   108   6.5
4                 Campus     1   0.1
5         NonResidential     1   0.1

Right modalities (field 'PrimaryPropertyType')
Lexicon of size : 10

                         labels  freq     %
id
1          Low-Rise Multifamily   956  57.4
2          Mid-Rise Multifamily   553  33.2
3         High-Rise Multifamily   103   6.2
4         Senior Care Community    24   1.4
5            Mixed Use Property    19   1.1
6                         Other     5   0.3
7                Residence Hall     2   0.1
8                         Hotel     1   0.1
9   Small- and Mid-Sized Office     1   0.1
10                   University     1   0.1

[Right] (10, 5) (PrimaryPropertyType|BuildingType) incidence matrix

BuildingType,Multifamily LR (1-4),Multifamily MR (5-9),Multifamily HR (10+),Campus,NonResidential,Total
PrimaryPropertyType,,,,,,
Low-Rise Multifamily,954,,,1,1,956
Mid-Rise Multifamily,,553,,,,553
High-Rise Multifamily,,,103,,,103
Senior Care Community,15,6,3,,,24
Mixed Use Property,11,8,,,,19
Other,3,1,1,,,5
Residence Hall,,2,,,,2
Hotel,,,1,,,1
Small- and Mid-Sized Office,1,,,,,1
University,1,,,,,1
Total,985,570,108,1,1,1665

##### Probabilités et inférences

Il ne reste qu'un pas pour pouvoir établir des règles de type x ⇒ y ou x ⇔ y.

Ici par ex. : [PrimaryPropertyType = 'Mid-Rise Multifamily'] ⇒ [BuildingType = 'Multifamily MR (5-9)']

In [ ]:
left_probas = mx.apply(lambda s: s / mx.Total)
#display(left_probas)
display(left_probas.applymap(lambda x: str(round(x, 3)) if x > 0 else ''))

BuildingType,Multifamily LR (1-4),Multifamily MR (5-9),Multifamily HR (10+),Campus,NonResidential,Total
PrimaryPropertyType,,,,,,
Low-Rise Multifamily,0.998,,,0.001,0.001,1.0
Mid-Rise Multifamily,,1.0,,,,1.0
High-Rise Multifamily,,,1.0,,,1.0
Senior Care Community,0.625,0.25,0.125,,,1.0
Mixed Use Property,0.579,0.421,,,,1.0
Other,0.6,0.2,0.2,,,1.0
Residence Hall,,1.0,,,,1.0
Hotel,,,1.0,,,1.0
Small- and Mid-Sized Office,1.0,,,,,1.0
University,1.0,,,,,1.0
Total,0.592,0.342,0.065,0.001,0.001,1.0

##### Neither multifamily buildings neither multifamily uses (strong : nor)

In [ ]:
print_title('Multifamily buildings or uses')

index = ~(is_multifamily_building | is_multifamily_use)
left = 'BuildingType'
right = 'PrimaryPropertyType'

l, r, mx = couple_analysis(compliant, index, left, right)

MULTIFAMILY BUILDINGS OR USES

Left modalities (field 'BuildingType')
Lexicon of size : 5

                labels  freq     %
id
1       NonResidential  1431  92.6
2   Nonresidential COS    81   5.2
3               Campus    23   1.5
4    SPS-District K-12    10   0.6
5    Nonresidential WA     1   0.1

Right modalities (field 'PrimaryPropertyType')
Lexicon of size : 20

                         labels  freq     %
id
1   Small- and Mid-Sized Office   286  18.5
2                         Other   245  15.8
3                     Warehouse   185  12.0
4                  Large Office   169  10.9
5            Mixed Use Property   113   7.3
6                  Retail Store    85   5.5
7                         Hotel    75   4.9
8              Worship Facility    69   4.5
9           Distribution Center    53   3.4
10                  K-12 School    50   3.2
11  Supermarket / Grocery Store    40   2.6
12               Medical Office    39   2.5
13        Self-Storage Facility    28   1.8
14                   University    24   1.6
15               Residence Hall    21   1.4
16        Senior Care Community    20   1.3
17       Refrigerated Warehouse    12   0.8
18                   Restaurant    12   0.8
19                     Hospital    10   0.6
20                   Laboratory    10   0.6

[Right] (20, 5) (PrimaryPropertyType|BuildingType) incidence matrix

BuildingType,NonResidential,Nonresidential COS,Campus,SPS-District K-12,Nonresidential WA,Total
PrimaryPropertyType,,,,,,
Small- and Mid-Sized Office,282,4,,,,286
Other,181,55,7,2,,245
Warehouse,178,7,,,,185
Large Office,164,4,1,,,169
Mixed Use Property,101,8,4,,,113
Retail Store,85,,,,,85
Hotel,75,,,,,75
Worship Facility,69,,,,,69
Distribution Center,51,2,,,,53
K-12 School,38,,4,8,,50
Supermarket / Grocery Store,40,,,,,40
Medical Office,38,1,,,,39
Self-Storage Facility,28,,,,,28
University,17,,6,,1,24
Residence Hall,21,,,,,21
Senior Care Community,20,,,,,20
Refrigerated Warehouse,12,,,,,12
Restaurant,11,,1,,,12
Hospital,10,,,,,10
Laboratory,10,,,,,10
Total,1431,81,23,10,1,1546

##### Neither multifamily buildings neither multifamily uses (weak : nand)

In [ ]:
print_title('Multifamily buildings or uses')

index = ~(is_multifamily_building & is_multifamily_use)
left = 'BuildingType'
right = 'PrimaryPropertyType'

l, r, mx = couple_analysis(compliant, index, left, right)

MULTIFAMILY BUILDINGS OR USES

Left modalities (field 'BuildingType')
Lexicon of size : 8

                  labels  freq     %
id
1         NonResidential  1432  89.4
2     Nonresidential COS    81   5.1
3   Multifamily LR (1-4)    31   1.9
4                 Campus    24   1.5
5   Multifamily MR (5-9)    17   1.1
6      SPS-District K-12    10   0.6
7   Multifamily HR (10+)     5   0.3
8      Nonresidential WA     1   0.1

Right modalities (field 'PrimaryPropertyType')
Lexicon of size : 21

                         labels  freq     %
id
1   Small- and Mid-Sized Office   287  17.9
2                         Other   250  15.6
3                     Warehouse   185  11.6
4                  Large Office   169  10.6
5            Mixed Use Property   132   8.2
6                  Retail Store    85   5.3
7                         Hotel    76   4.7
8              Worship Facility    69   4.3
9           Distribution Center    53   3.3
10                  K-12 School    50   3.1
11        Senior Care Community    44   2.7
12  Supermarket / Grocery Store    40   2.5
13               Medical Office    39   2.4
14        Self-Storage Facility    28   1.7
15                   University    25   1.6
16               Residence Hall    23   1.4
17                   Restaurant    12   0.7
18       Refrigerated Warehouse    12   0.7
19                     Hospital    10   0.6
20                   Laboratory    10   0.6
21         Low-Rise Multifamily     2   0.1

[Right] (21, 8) (PrimaryPropertyType|BuildingType) incidence matrix

BuildingType,NonResidential,Nonresidential COS,Multifamily LR (1-4),Campus,Multifamily MR (5-9),SPS-District K-12,Multifamily HR (10+),Nonresidential WA,Total
PrimaryPropertyType,,,,,,,,,
Small- and Mid-Sized Office,282,4,1,,,,,,287
Other,181,55,3,7,1,2,1,,250
Warehouse,178,7,,,,,,,185
Large Office,164,4,,1,,,,,169
Mixed Use Property,101,8,11,4,8,,,,132
Retail Store,85,,,,,,,,85
Hotel,75,,,,,,1,,76
Worship Facility,69,,,,,,,,69
Distribution Center,51,2,,,,,,,53
K-12 School,38,,,4,,8,,,50
Senior Care Community,20,,15,,6,,3,,44
Supermarket / Grocery Store,40,,,,,,,,40
Medical Office,38,1,,,,,,,39
Self-Storage Facility,28,,,,,,,,28
University,17,,1,6,,,,1,25
Residence Hall,21,,,,2,,,,23
Restaurant,11,,,1,,,,,12
Refrigerated Warehouse,12,,,,,,,,12
Hospital,10,,,,,,,,10
Laboratory,10,,,,,,,,10
Low-Rise Multifamily,1,,,1,,,,,2
Total,1432,81,31,24,17,10,5,1,1601

# Prédictions

C'est le but du projet, ne l'oublions pas.

Ici, nous amorçons tôt la production des valeurs de la consommations d'énergie des bâtiments et de leur émission de GES.

En particulier, lors des partitions binaires du jeu de données, nous évaluons la contribution relative s, e, r de la partie soustraite au bilan global de la ville. En d'autres termes, il ne s'agit pas seulement de mesurer la tailles des coupes en termes d'effectifs, mais également en termes d'impact absolu sur les quantités S, E, R totales.

Certains élagages ont un impact négligeable sur les 3 quantités, et d'autres non.

## PredictAPI

L'objectif de l'analyse-modélisation est de produire un **système de prédiction** (**fiable**) des bilans :
1. énergétiques
2. carbonne

des immeubles à usage **non résidentiels**.

### Fonction `predict`

Cette fonction *infère* une valeur $C_A$ pour une classe $A$ (d'objets $x \in A$).

Elle conclut $C\left[x\right]=x \in C_A$ sachant que:
1. $P\left[x\right]=x \in P_A$  
2. et que : $\forall{x\in A\left(x\right)}{\left(P\left[x\right]\implies C\left[x\right]\right)}$

Arguments :
* `for_all` : sélecteur de classe, quantificatieur universel, ensemble de référence, objet : $\forall{x\in A\left(x\right)}$
* `premise` : prémisse, i.e. ce qui (proposition, énoncé), étant vérifié.. $P\left[x\right]..$
* .. entraîne telle `conclusion` (vérification de tel autre énoncé). $..\implies C\left[x\right]$

Les 3 paramètres du système inférentiel sont $A, P, C$.

$C$ est déduit de $P$ qui est défini comme sous-ensemble de $A$ et donc déduit de $A$.

On devrait légitement indicer ainsi les 3 paramètres pour marquer cet ordre des déductions :

$A, P_A, C_{P_A}$, mais qu'on notera $A, \left(P, C\right)_A$ par abus de langage.

On appelle **prédicat** la sous-structure paramétrique $\left(P, C\right)_A$.

La fonction de prédiction interprète le prédicat $P \implies C$ dans le *contexte* de la classe $A$.

#### Class calculus

In [ ]:
display(residential.head(5))

,OSEBuildingID,DataYear,BuildingType,PrimaryPropertyType,PropertyName,Address,City,State,ZipCode,TaxParcelIdentificationNumber,...,Electricity(kWh),Electricity(kBtu),NaturalGas(therms),NaturalGas(kBtu),DefaultData,Comments,ComplianceStatus,Outlier,TotalGHGEmissions,GHGEmissionsIntensity
9,13,2016,Multifamily MR (5-9),Mid-Rise Multifamily,Lyon Building,607 - 3rd Ave.,Seattle,WA,98104.0,0939000105,...,7.420912e+05,2532015.0,10020.259770,1002026.0,False,NaN,Compliant,NaN,151.12,2.37
165,265,2016,Multifamily MR (5-9),Mid-Rise Multifamily,YWCA Opportunity Place,2024 3rd Avenue,Seattle,WA,98121.0,8729690000,...,1.612728e+06,5502627.0,45374.941410,4537494.0,False,NaN,Compliant,NaN,279.35,2.39
173,280,2016,Multifamily MR (5-9),Mid-Rise Multifamily,Wintonia,1431 Minor Ave,Seattle,WA,98101.0,8725600350,...,4.903724e+05,1673151.0,25164.187500,2516419.0,False,NaN,Compliant,NaN,145.31,2.80
188,296,2016,Multifamily LR (1-4),Low-Rise Multifamily,Cooper School Artist's Lofts,4408 Delridge Way SW,Seattle,WA,98106.0,3388120000,...,3.493257e+05,1191899.0,7947.119629,794712.0,False,NaN,Compliant,NaN,50.52,0.89
189,297,2016,Multifamily MR (5-9),Mid-Rise Multifamily,LAKE CITY COURT,12730 33RD AVE NE,Seattle,WA,98125.0,3993000000,...,4.558248e+05,1555274.0,9186.879883,918688.0,False,NaN,Compliant,NaN,59.63,1.05

In [ ]:
import json
import numpy as np

def opr(o):
    if o in ['&', '⋀']:
        return lambda x, y: x & y
    elif o in ['|', '⋁']:
        return lambda x, y: x | y
    elif o in ['~', '￢']:
        return lambda x: ~x
    elif o in ['^', '⊕', '⊻']:
        return lambda x, y: x ^ y
    elif o in ['⇒']:
        return lambda x, y: ~x | y
    elif o in ['⇔', '≣']:
        return lambda x, y: ~(x ^ y)

def eval(ops, opr):       # n-arize the binary opr on n = len(ops)
    v = ops[0]
    for p in ops[1:]:
        v = opr(v, p)
    return v

def eval_bindex(data=None, props=None, op='&'):
    o = opr(op)
    if data is None and props is None:
        return None
    if data is None :
        return eval(props, o)
    all = data.index == data.index
    if props is None:
        return eval([all, ~all], o)
    return eval([all] + props, o)

def _or(data=None, props=None):
    return eval_bindex(data, props, op='|')

def _id(data=None, props=None):
    return _or(data, props[0])

def _and(data=None, props=None):
    return eval_bindex(data, props, op='&')

def _not(data=None, props=None):
    return eval_bindex(data, props, op='~')

def _xor(data=None, props=None):
    return eval_bindex(data, props, op='^')

def _nor(data=None, props=None):
    return _not(data, _or(data, props))

def _nand(data=None, props=None):
    return _not(data, _and(data, props))

def _impl(data=None, props=None):
    return _or(data, [_not(data, props[0]), _id(data, props[1])])

def _impl_nativ(data=None, props=None):
    return eval_bindex(data, props, op='⇔')

def _equiv(data=None, props=None):
    return _not(data, _xor(data, props))

def _equiv_nativ(data=None, props=None):
    return eval_bindex(data, props, op='⇒')



def class_selection(data, is_a):
    """Return that boolean index of data elements that are members of class (that conforms to `is_a`)
    if `is_a` is a boolean constant, apply it to all data index
    if `is_a` is a string or a dict, try to interpret it (js based query language design)
    if `is_a` is a callable, call it with data as argument.
    if `is_a` is a boolean index, intersect it with data index
    if `is_a` is a list of boolean indexes, intersect them all with data index
    if `is_a` is a list of strings, try to interpret each of it and make the conjunction of all
    """
    all_true = data.index == data.index
    if isinstance(is_a, bool):
        return all_true if is_a else ~all_true
    elif callable(is_a):
        return is_a(data)
    elif isinstance(is_a, dict) or isinstance(is_a, str):
        if isinstance(is_a, str):
            is_a = json.loads(is_a)
        # les clés k sont les noms de variables
        # et les valeurs v les littéraux (pour commencer) dans le prédicat data[k] == v
        props = [data[k] == v for k, v in is_a.items()]
        return _and(data, props)
    elif isinstance(is_a, np.ndarray) and is_a.dtype == bool:
        return _and(data, [is_a])
    elif isinstance(is_a, pd.Series) and is_a.dtype == bool:
        return _and(data, [is_a.values])
    elif isinstance(is_a, list) and isinstance(is_a[0], np.ndarray) and is_a[0].dtype == bool:
        return _and(data, is_a)
    elif isinstance(is_a, list) and isinstance(is_a[0], pd.Series) and is_a[0].dtype == bool:
        return _and(data, [is_a_i.values for is_a_i in is_a])
    elif isinstance(is_a, list) and (isinstance(is_a[0], dict) or isinstance(is_a[0], str)):
        if isinstance(is_a[0], str):
            is_a = [json.loads(is_a_i) for is_a_i in is_a]
        return _or(None, [
            _and(data, [data[k] == v for k, v in is_a_i.items()])
            for is_a_i in is_a
        ])

"predicate = {\n    'for_all': lambda d: class_selection(data, is_a=True),\n    'premise': True,\n    'conclusion': True \n}\n\ndef predict(data, predicate):\n    return e, c"

In [ ]:
# test 1 : litterals : all and none
all = class_selection(data, True)
print(type(all), all.dtype)
print(type([all, all]))
print(f'n all = {all.sum()}, all =', all)
print(type(data.index == data.index))

# test 2 : json or dict
hospitals = class_selection(data, """{"PrimaryPropertyType": "Hospital"}""")
print(f'n hospitals = {hospitals.sum()}, hospitals =', hospitals.values)

hospitals = class_selection(data, {'PrimaryPropertyType': 'Hospital'})
print(f'n hospitals = {hospitals.sum()}, hospitals =', hospitals.values)

# test 3 : callable
is_hotel = lambda x: x.PrimaryPropertyType == 'Hotel'
hotels = class_selection(data, is_hotel)
print(f'n hotels = {hotels.sum()}, hotels =', hotels.values)

# test 4 : bool array
is_lab = data.PrimaryPropertyType == 'Laboratory'
print(f'n l = {is_lab.sum()}, l =', is_lab.values)
labs = class_selection(data, is_lab)
print(f'n labs = {labs.sum()}, labs =', labs)

# test 5 : list of bool arrays as Series
in_lake_union = data.Neighborhood == 'LAKE UNION'
lake_union_labs = class_selection(data, [is_lab, in_lake_union])
print(f'n lake union labs = {lake_union_labs.sum()}, labs =', lake_union_labs)
#display(data[lake_union_labs])

# test 6 : liste de dictionnaires (ou liste de chaînes json)
district_7_labs = class_selection(data, {
    'PrimaryPropertyType': 'Laboratory',
    'CouncilDistrictCode': 7
})
print(f'n district_7_labs = {district_7_labs.sum()}, district_7_labs =', district_7_labs.values)
#display(data[district_7_labs])

district_73_labs = class_selection(data, [
    {
        'PrimaryPropertyType': 'Laboratory',
        'CouncilDistrictCode': 7
    }, {
        'PrimaryPropertyType': 'Laboratory',
        'CouncilDistrictCode': 3
    }
])
print(f'n district_73_labs = {district_73_labs.sum()}, district_73_labs =', district_73_labs.values)
display(data[district_73_labs])


# prédire la valeur v de e, c'est déduire le prédicat e == v : c'est une sélection

<class 'numpy.ndarray'> bool
<class 'list'>
n all = 3376, all = [ True  True  True ...  True  True  True]
<class 'numpy.ndarray'>
n hospitals = 10, hospitals = [False False False ... False False False]
n hospitals = 10, hospitals = [False False False ... False False False]
n hotels = 77, hotels = [ True  True  True ... False False False]
n l = 10, l = [False False False ... False False False]
n labs = 10, labs = [False False False ... False False False]
n lake union labs = 5, labs = [False False False ... False False False]
n district_7_labs = 8, district_7_labs = [False False False ... False False False]
n district_73_labs = 10, district_73_labs = [False False False ... False False False]

,OSEBuildingID,DataYear,BuildingType,PrimaryPropertyType,PropertyName,Address,City,State,ZipCode,TaxParcelIdentificationNumber,...,Electricity(kWh),Electricity(kBtu),NaturalGas(therms),NaturalGas(kBtu),DefaultData,Comments,ComplianceStatus,Outlier,TotalGHGEmissions,GHGEmissionsIntensity
333,469,2016,NonResidential,Laboratory,Rosen Building - SEDO,960 Republican St.,Seattle,WA,98109.0,1983200160,...,2198235.00,7500378.0,40937.42188,4093742.0,False,NaN,Compliant,NaN,269.71,4.89
334,470,2016,NonResidential,Laboratory,401 Terry (ID470),401 TERRY AVE N,Seattle,WA,98109.0,1983200200,...,5975651.50,20388923.0,133249.51560,13324952.0,False,NaN,Compliant,NaN,849.83,3.52
345,487,2016,NonResidential,Laboratory,UW Medicine Research Phase I,850 Republican St.,Seattle,WA,98109.0,1988201480,...,4500367.50,15355254.0,90399.71875,9039972.0,False,NaN,Compliant,NaN,587.16,5.74
550,743,2016,NonResidential,Laboratory,Dendreon Pharmaceuticals Inc. (Building Owner ...,1208 Eastlake Avenue East,Seattle,WA,98102.0,2163901160,...,4956971.00,16913185.0,195232.01560,19523202.0,False,NaN,Compliant,NaN,1154.79,9.98
697,19654,2016,NonResidential,Laboratory,1100 Olive Lab,1100 Olive Way,Seattle,WA,98101.0,0660002030,...,2125318.75,7251588.0,0.00000,0.0,False,NaN,Compliant,NaN,50.55,1.13
809,19900,2016,NonResidential,Laboratory,3000/3018 Western,3018 Western Ave.,Seattle,WA,98121.0,0695000090,...,3181345.00,10854749.0,224136.60940,22413661.0,False,NaN,Compliant,NaN,1266.06,25.71
1337,21549,2016,NonResidential,Laboratory,410 W. Harrison,410 W. Harrison St.,Seattle,WA,98119.0,1992200045,...,1370281.25,4675400.0,73405.35156,7340535.0,False,NaN,Compliant,NaN,422.45,12.27
3077,28086,2016,NonResidential,Laboratory,Environmental Laboratory,322 W Ewing Street,Seattle,WA,98119.0,7442001430,...,1542927.75,5264469.0,41286.38281,4128638.0,False,NaN,Compliant,NaN,255.97,5.95
3156,45927,2016,NonResidential,Laboratory,Reasearch and Training Building,300 Ninth Avenue,Seattle,WA,98104.0,8590900220,...,6487678.50,22135959.0,0.00000,0.0,False,NaN,Compliant,NaN,2549.47,14.32
3205,49783,2016,NonResidential,Laboratory,UW Medicine Phase 3.1,750 Republican Street,Seattle,WA,98109.0,1988201435,...,7154221.50,24410204.0,172862.56250,17286256.0,False,NaN,Compliant,NaN,1088.25,3.20

#### Prédiction

...

Elle conclut $C\left[x\right]=x \in C_A$ sachant que:
1. $P\left[x\right]=x \in P_A$  
2. et que : $\forall{x\in A\left(x\right)}{\left(P\left[x\right]\implies C\left[x\right]\right)}$

Arguments :
* `quantif` : sélecteur de classe, quantificatieur universel, ensemble de référence, objet : $\forall{x\in A\left(x\right)}$
* `premise` : prémisse, i.e. ce qui (proposition, énoncé), étant vérifié.. $P\left[x\right]..$
* .. entraîne telle `conclusion` (vérification de tel autre énoncé). $..\implies C\left[x\right]$

In [ ]:

"""def multipart_wmx(data, hue):
    labels = data[hue].unique()
    ids = [data[hue] == label for label in labels]"""


is_lab = data.PrimaryPropertyType == 'Laboratory'

infer = {
    'quantif': lambda d: class_selection(d, True),      # sélection d'une classe A d'éléments x
    'premise': lambda d: class_selection(d, is_lab),    # sélection d'une sous classe P de ceux-ci
    'consequ': lambda d: d.Neighborhood.values          # opération sur P pour produire le résultat
}

def predict(data, infer):
    a = data[infer['quantif'](data)].copy()
    p = a[infer['premise'](a)]
    c = infer['consequ'](p)
    return c

display(predict(data, infer))

# conso et emission (intensités) médiane, et std pour chaque sous classe d'usages non résidentiels
is_compliant = data.ComplianceStatus == 'Compliant'
compliant = data[is_compliant]
is_multifamily_building = compliant.BuildingType.str.contains('Multifamily')
is_multifamily_use = compliant.PrimaryPropertyType.str.contains('Multifamily')
is_campus = compliant.BuildingType == 'Campus'
is_nonresidential = compliant.BuildingType == 'NonResidential'
is_residential = (
    (is_multifamily_building | is_multifamily_use)
    & ~(is_campus | is_nonresidential)
)
is_nonresidential = ~is_residential
non_residential = compliant[is_nonresidential]
print('# compliants :', compliant.shape[0])
print('# non resid :', non_residential.shape[0])

def conso_emiss_class_analysis(data):
    base = pd.DataFrame(data.PrimaryPropertyType.value_counts())
    print(type(base))

    for use in base.index:

        u = data[data.PrimaryPropertyType == use]

        u_s = u['PropertyGFATotal']
        u_e = u['SiteEUI(kBtu/sf)']
        u_r = u['GHGEmissionsIntensity']

        base.loc[use, 'n'] = u.shape[0]

        sm = base.loc[use, 'sum_s'] = u_s.sum()
        mi = base.loc[use, 'min_s'] = u_s.min()
        mx = base.loc[use, 'max_s'] = u_s.max()
        mn = base.loc[use, 'mean_s'] = round(u_s.mean(), 1)
        md = base.loc[use, 'median_s'] = round(u_s.median(), 1)
        st = base.loc[use, 'std_s'] = round(u_s.std(), 1)
        #base.loc[use, 'sum_s'] = u_s.sum()
        base.loc[use, 'mean_s_'] = round((mn - mn) / st, 1)
        base.loc[use, 'median_s_'] = round((md - mn) / st, 1)
        base.loc[use, 'std_s_'] = round((st - mn) / st, 1)

        base.loc[use, 'sum_e'] = u_e.sum()
        base.loc[use, 'mean_e'] = round(u_e.mean(), 1)
        base.loc[use, 'median_e'] = round(u_e.median(), 1)
        base.loc[use, 'std_e'] = round(u_e.std(), 1)
        
        base.loc[use, 'sum_r'] = u_r.sum()
        base.loc[use, 'mean_r'] = round(u_r.mean(), 1)
        base.loc[use, 'median_r'] = round(u_r.median(), 1)
        base.loc[use, 'std_r'] = round(u_r.std(), 1)
    
    return base

analysis = predict(compliant, {
    'quantif': lambda d: class_selection(d, is_nonresidential),  # dans le contexte du non résidentiel
    'premise': lambda d: class_selection(d, True),               # pour tous
    'consequ': lambda d: conso_emiss_class_analysis(d)
})

_analysis = analysis.copy()
total = analysis.loc['Total'] = _analysis.sum()
min_ = analysis.loc['Min'] = _analysis.min()
max_ = analysis.loc['Max'] = _analysis.max()
display(analysis)

analysis['n'] = 100 * analysis['n'] / analysis.loc['Total', 'n']
analysis['sum_s'] = 100 * analysis['sum_s'] / analysis.loc['Total', 'sum_s']

# Feature scaling calés sur les min et max des non résidentiels
min_min = analysis.loc['Min', 'min_s']
max_max = analysis.loc['Max', 'max_s']
analysis['min_s'] = 100 * (analysis['min_s'] - min_min) / (max_max - min_min)
analysis['max_s'] = 100 * (analysis['max_s'] - min_min) / (max_max - min_min)
analysis['mean_s'] = 100 * (analysis['mean_s'] - min_min) / (max_max - min_min)
analysis['median_s'] = 100 * (analysis['median_s'] - min_min) / (max_max - min_min)
analysis = analysis.drop(columns='PrimaryPropertyType')
display(analysis)

array(['LAKE UNION', 'LAKE UNION', 'LAKE UNION', 'LAKE UNION', 'DOWNTOWN',
       'DOWNTOWN', 'MAGNOLIA / QUEEN ANNE', 'MAGNOLIA / QUEEN ANNE',
       'EAST', 'LAKE UNION'], dtype=object)

# compliants : 3211
# non resid : 1548
<class 'pandas.core.frame.DataFrame'>

,PrimaryPropertyType,n,sum_s,min_s,max_s,mean_s,median_s,std_s,mean_s_,median_s_,std_s_,sum_e,mean_e,median_e,std_e,sum_r,mean_r,median_r,std_r
Small- and Mid-Sized Office,286.0,286.0,13398808.0,20022.0,99440.0,46849.0,39870.5,22996.6,0.0,-0.3,-1.0,17307.800014,60.5,52.2,40.8,271.90,1.0,0.5,1.1
Other,245.0,245.0,23764625.0,11285.0,1585960.0,96998.5,40265.0,165070.6,0.0,-0.3,0.4,25792.499993,105.3,78.3,106.5,614.60,2.5,1.4,3.0
Warehouse,185.0,185.0,11403862.0,20000.0,714095.0,61642.5,40800.0,70422.5,0.0,-0.3,0.1,6309.299983,34.1,26.8,28.0,155.71,0.8,0.5,1.0
Large Office,169.0,169.0,61685616.0,100734.0,1952220.0,365003.6,251044.0,334825.0,0.0,-0.3,-0.1,11093.400009,65.6,53.3,38.1,117.93,0.7,0.4,0.7
Mixed Use Property,113.0,113.0,11676291.0,14101.0,1206670.0,103330.0,43878.0,174021.6,0.0,-0.3,0.4,10586.100036,93.7,64.4,94.1,243.33,2.2,1.1,3.8
Retail Store,85.0,85.0,7243384.0,20000.0,861702.0,85216.3,45271.0,132521.7,0.0,-0.3,0.4,5597.799964,65.9,56.4,42.3,110.70,1.3,0.8,1.6
Hotel,75.0,75.0,12092996.0,20571.0,994212.0,161239.9,104000.0,193970.9,0.0,-0.3,0.2,6113.300032,81.5,80.0,32.5,182.79,2.4,2.1,1.5
Worship Facility,69.0,69.0,2294808.0,20140.0,103000.0,33258.1,26366.0,16620.0,0.0,-0.4,-1.0,2298.199994,33.3,32.1,13.7,85.92,1.2,1.1,0.8
Distribution Center,53.0,53.0,3417544.0,16300.0,411584.0,64482.0,48001.0,62169.0,0.0,-0.3,-0.0,1841.800013,34.8,30.4,34.5,40.42,0.8,0.6,0.6
K-12 School,50.0,50.0,3129299.0,20811.0,367884.0,62586.0,42613.5,67861.8,0.0,-0.3,0.1,2503.100004,50.1,47.5,19.0,94.35,1.9,1.7,1.5
Supermarket / Grocery Store,40.0,40.0,2327282.0,21603.0,308965.0,58182.1,45338.5,50060.6,0.0,-0.3,-0.2,9471.800087,236.8,247.0,85.8,198.16,5.0,4.9,3.1
Medical Office,39.0,39.0,6325519.0,23595.0,690158.0,162192.8,94500.0,163329.6,0.0,-0.4,0.0,3489.099983,89.5,78.9,40.4,51.27,1.3,0.8,1.3
Self-Storage Facility,28.0,28.0,1521080.0,20296.0,130293.0,54324.3,43266.0,33187.1,0.0,-0.3,-0.6,548.000003,19.6,15.7,14.8,14.07,0.5,0.3,0.6
University,24.0,24.0,15033467.0,21600.0,9320156.0,626394.5,91882.5,1906373.2,0.0,-0.3,0.7,1867.700002,77.8,67.6,56.1,42.94,1.8,1.2,1.8
Residence Hall,21.0,21.0,1546915.0,20960.0,192259.0,73662.6,33448.0,59935.2,0.0,-0.7,-0.2,1197.699993,57.0,58.0,27.4,34.55,1.6,1.9,1.2
Senior Care Community,20.0,20.0,2568491.0,22583.0,724148.0,128424.6,79089.5,153617.7,0.0,-0.3,0.2,2208.599995,110.4,101.3,66.0,73.00,3.6,3.2,3.2
Refrigerated Warehouse,12.0,12.0,466002.0,21870.0,104099.0,38833.5,25548.5,25789.7,0.0,-0.5,-0.5,945.099991,78.8,49.8,66.1,13.31,1.1,0.6,1.4
Restaurant,12.0,12.0,371303.0,20398.0,43728.0,30941.9,29910.0,8004.2,0.0,-0.1,-2.9,2067.299999,172.3,152.9,116.8,74.44,6.2,6.1,4.9
Hospital,10.0,10.0,6213004.0,54863.0,1765970.0,621300.4,395049.0,512143.2,0.0,-0.4,-0.2,1970.099985,197.0,210.9,71.9,74.11,7.4,7.4,4.4
Laboratory,10.0,10.0,1203211.0,34416.0,339591.0,120321.1,78717.5,102598.4,0.0,-0.4,-0.2,2914.400032,291.4,238.7,162.2,86.71,8.7,5.8,7.3
Low-Rise Multifamily,2.0,2.0,138579.0,45500.0,93079.0,69289.5,69289.5,33643.4,0.0,0.0,-1.1,107.099997,53.5,53.5,44.8,0.86,0.4,0.4,0.2
Total,1548.0,1548.0,187822086.0,571648.0,22009213.0,3064473.2,1668148.0,4289162.0,0.0,-6.8,-5.5,116230.200108,2008.9,1795.7,1201.8,2581.07,52.4,42.8,45.0
Min,2.0,2.0,138579.0,11285.0,43728.0,30941.9,25548.5,8004.2,0.0,-0.7,-2.9,107.099997,19.6,15.7,13.7,0.86,0.4,0.3,0.2
Max,286.0,286.0,61685616.0,100734.0,9320156.0,626394.5,395049.0,1906373.2,0.0,0.0,0.7,25792.499993,291.4,247.0,162.2,614.60,8.7,7.4,7.3

,n,sum_s,min_s,max_s,mean_s,median_s,std_s,mean_s_,median_s_,std_s_,sum_e,mean_e,median_e,std_e,sum_r,mean_r,median_r,std_r
Small- and Mid-Sized Office,18.475452,7.133777,0.093857,0.947000,0.382044,0.307078,22996.6,0.0,-0.3,-1.0,17307.800014,60.5,52.2,40.8,271.90,1.0,0.5,1.1
Other,15.826873,12.652732,0.000000,16.915854,0.920772,0.311316,165070.6,0.0,-0.3,0.4,25792.499993,105.3,78.3,106.5,614.60,2.5,1.4,3.0
Warehouse,11.950904,6.071630,0.093620,7.549895,0.540962,0.317063,70422.5,0.0,-0.3,0.1,6309.299983,34.1,26.8,28.0,155.71,0.8,0.5,1.0
Large Office,10.917313,32.842578,0.960901,20.850380,3.799801,2.575597,334825.0,0.0,-0.3,-0.1,11093.400009,65.6,53.3,38.1,117.93,0.7,0.4,0.7
Mixed Use Property,7.299742,6.216676,0.030251,12.841353,0.988788,0.350128,174021.6,0.0,-0.3,0.4,10586.100036,93.7,64.4,94.1,243.33,2.2,1.1,3.8
Retail Store,5.490956,3.856513,0.093620,9.135555,0.794203,0.365093,132521.7,0.0,-0.3,0.4,5597.799964,65.9,56.4,42.3,110.70,1.3,0.8,1.6
Hotel,4.844961,6.438538,0.099754,10.559036,1.610882,0.995985,193970.9,0.0,-0.3,0.2,6113.300032,81.5,80.0,32.5,182.79,2.4,2.1,1.5
Worship Facility,4.457364,1.221799,0.095124,0.985243,0.236045,0.162007,16620.0,0.0,-0.4,-1.0,2298.199994,33.3,32.1,13.7,85.92,1.2,1.1,0.8
Distribution Center,3.423773,1.819564,0.053873,4.300188,0.571466,0.394419,62169.0,0.0,-0.3,-0.0,1841.800013,34.8,30.4,34.5,40.42,0.8,0.6,0.6
K-12 School,3.229974,1.666097,0.102332,3.830744,0.551098,0.336545,67861.8,0.0,-0.3,0.1,2503.100004,50.1,47.5,19.0,94.35,1.9,1.7,1.5
Supermarket / Grocery Store,2.583979,1.239089,0.110841,3.197810,0.503789,0.365818,50060.6,0.0,-0.3,-0.2,9471.800087,236.8,247.0,85.8,198.16,5.0,4.9,3.1
Medical Office,2.519380,3.367825,0.132239,7.292753,1.621118,0.893932,163329.6,0.0,-0.4,0.0,3489.099983,89.5,78.9,40.4,51.27,1.3,0.8,1.3
Self-Storage Facility,1.808786,0.809852,0.096800,1.278436,0.462347,0.343554,33187.1,0.0,-0.3,-0.6,548.000003,19.6,15.7,14.8,14.07,0.5,0.3,0.6
University,1.550388,8.004100,0.110808,100.000000,6.607778,0.865814,1906373.2,0.0,-0.3,0.7,1867.700002,77.8,67.6,56.1,42.94,1.8,1.2,1.8
Residence Hall,1.356589,0.823607,0.103933,1.944103,0.670088,0.238085,59935.2,0.0,-0.7,-0.2,1197.699993,57.0,58.0,27.4,34.55,1.6,1.9,1.2
Senior Care Community,1.291990,1.367513,0.121368,7.657889,1.258365,0.728386,153617.7,0.0,-0.3,0.2,2208.599995,110.4,101.3,66.0,73.00,3.6,3.2,3.2
Refrigerated Warehouse,0.775194,0.248108,0.113709,0.997049,0.295938,0.153225,25789.7,0.0,-0.5,-0.5,945.099991,78.8,49.8,66.1,13.31,1.1,0.6,1.4
Restaurant,0.775194,0.197689,0.097896,0.348517,0.211163,0.200078,8004.2,0.0,-0.1,-2.9,2067.299999,172.3,152.9,116.8,74.44,6.2,6.1,4.9
Hospital,0.645995,3.307920,0.468134,18.849601,6.553055,4.122562,512143.2,0.0,-0.4,-0.2,1970.099985,197.0,210.9,71.9,74.11,7.4,7.4,4.4
Laboratory,0.645995,0.640612,0.248483,3.526808,1.171314,0.724390,102598.4,0.0,-0.4,-0.2,2914.400032,291.4,238.7,162.2,86.71,8.7,5.8,7.3
Low-Rise Multifamily,0.129199,0.073782,0.367553,0.878667,0.623110,0.623110,33643.4,0.0,0.0,-1.1,107.099997,53.5,53.5,44.8,0.86,0.4,0.4,0.2
Total,100.000000,100.000000,6.019667,236.311450,32.798695,17.798753,4289162.0,0.0,-6.8,-5.5,116230.200108,2008.9,1795.7,1201.8,2581.07,52.4,42.8,45.0
Min,0.129199,0.073782,0.000000,0.348517,0.211163,0.153225,8004.2,0.0,-0.7,-2.9,107.099997,19.6,15.7,13.7,0.86,0.4,0.3,0.2
Max,18.475452,32.842578,0.960901,100.000000,6.607778,4.122562,1906373.2,0.0,0.0,0.7,25792.499993,291.4,247.0,162.2,614.60,8.7,7.4,7.3

## Consommation d'énergie agrégée

In [ ]:
#residential = compliant[is_residential]
#non_residential = compliant[~is_residential]

print_subtitle('Residential uses')
multipart_wmx(residential, 'PrimaryPropertyType')

print_subtitle('Non residential uses')
multipart_wmx(non_residential, 'PrimaryPropertyType')

Residential uses

,Mid-Rise Multifamily,Low-Rise Multifamily,High-Rise Multifamily,Senior Care Community,Mixed Use Property,Other,Small- and Mid-Sized Office,University,Hotel,Residence Hall,sum
n,553.00,954.00,103.00,24.00,19.00,5.00,1.00,1.00,1.00,2.00,1663.00
s,50355886.00,40973022.00,21521758.00,2981431.00,2458790.00,712785.00,28546.00,20008.00,326516.00,394451.00,119773193.00
e,1552980294.66,1270802652.38,902529728.62,157122298.50,70920375.50,19879317.25,623107.69,1516415.75,59107620.00,18071216.25,4053553026.60
r,35166.93,24676.29,22926.49,4530.38,1410.97,423.48,28.44,63.21,2489.78,510.96,92226.93
n' = n/N,0.33,0.57,0.06,0.01,0.01,0.00,0.00,0.00,0.00,0.00,1.00
s' = s/S,0.42,0.34,0.18,0.02,0.02,0.01,0.00,0.00,0.00,0.00,1.00
e' = e/E,0.38,0.31,0.22,0.04,0.02,0.00,0.00,0.00,0.01,0.00,1.00
r' = r/R,0.38,0.27,0.25,0.05,0.02,0.00,0.00,0.00,0.03,0.01,1.00
n' / n',1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,10.00
s' / n',1.26,0.60,2.90,1.72,1.80,1.98,0.40,0.28,4.53,2.74,18.21
e' / n',1.15,0.55,3.59,2.69,1.53,1.63,0.26,0.62,24.25,3.71,39.98
r' / n',1.15,0.47,4.01,3.40,1.34,1.53,0.51,1.14,44.89,4.61,63.05

Non residential uses

,Hotel,Other,Mixed Use Property,University,Small- and Mid-Sized Office,Self-Storage Facility,Warehouse,K-12 School,Large Office,Senior Care Community,...,Hospital,Residence Hall,Distribution Center,Worship Facility,Supermarket / Grocery Store,Laboratory,Refrigerated Warehouse,Restaurant,Low-Rise Multifamily,sum
n,75.00,245.00,113.00,24.00,286.00,28.00,185.00,50.00,169.00,20.00,...,10.00,21.00,53.00,69.00,40.00,10.00,12.00,12.00,2.00,1548.00
s,12092996.00,23764625.00,11676291.00,15033467.00,13398808.00,1521080.00,11403862.00,3129299.00,61685616.00,2568491.00,...,6213004.00,1546915.00,3417544.00,2294808.00,2327282.00,1203211.00,466002.00,371303.00,138579.00,187822086.00
e,906857930.19,2262133537.57,1359391753.13,1324945721.44,761120612.66,26100832.11,365751349.73,143684265.81,2960018366.38,230345766.50,...,1415469944.62,80025173.44,127484097.63,82999845.44,403914822.38,262931276.00,44633136.94,63166776.69,5775536.50,13715370512.67
r,29144.68,48487.13,34616.43,23085.30,11736.17,674.77,7932.51,4861.68,34979.95,7437.99,...,50529.63,2126.58,2661.96,2993.40,8903.75,8494.24,451.37,2310.17,51.94,299706.59
n' = n/N,0.05,0.16,0.07,0.02,0.18,0.02,0.12,0.03,0.11,0.01,...,0.01,0.01,0.03,0.04,0.03,0.01,0.01,0.01,0.00,1.00
s' = s/S,0.06,0.13,0.06,0.08,0.07,0.01,0.06,0.02,0.33,0.01,...,0.03,0.01,0.02,0.01,0.01,0.01,0.00,0.00,0.00,1.00
e' = e/E,0.07,0.16,0.10,0.10,0.06,0.00,0.03,0.01,0.22,0.02,...,0.10,0.01,0.01,0.01,0.03,0.02,0.00,0.00,0.00,1.00
r' = r/R,0.10,0.16,0.12,0.08,0.04,0.00,0.03,0.02,0.12,0.02,...,0.17,0.01,0.01,0.01,0.03,0.03,0.00,0.01,0.00,1.00
n' / n',1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,...,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,21.00
s' / n',1.33,0.80,0.85,5.16,0.39,0.45,0.51,0.52,3.01,1.06,...,5.12,0.61,0.53,0.27,0.48,0.99,0.32,0.26,0.57,25.26
e' / n',1.36,1.04,1.36,6.23,0.30,0.11,0.22,0.32,1.98,1.30,...,15.98,0.43,0.27,0.14,1.14,2.97,0.42,0.59,0.33,38.40
r' / n',2.01,1.02,1.58,4.97,0.21,0.12,0.22,0.50,1.07,1.92,...,26.10,0.52,0.26,0.22,1.15,4.39,0.19,0.99,0.13,49.43

## Emissions de GES agrégées