# Objet

# Libs

In [2]:
import os
from jpy_commons import *

OFF COMMONS IS LOADED!

# Chargement

Source des donn√©es : https://data.seattle.gov/dataset/2016-Building-Energy-Benchmarking/2bpz-gwpy

In [3]:
data_dir = create_subdir(os.path.join(project_dir, 'data'))
csv_data_dir = create_subdir(os.path.join(data_dir, 'csv'))
benchmarking_filename = '2016_Building_Energy_Benchmarking.csv'
benchmarking_filepath = os.path.join(csv_data_dir, benchmarking_filename)
benchmarking = pd.read_csv(benchmarking_filepath)
display(benchmarking)

,OSEBuildingID,DataYear,BuildingType,PrimaryPropertyType,PropertyName,Address,City,State,ZipCode,TaxParcelIdentificationNumber,...,Electricity(kWh),Electricity(kBtu),NaturalGas(therms),NaturalGas(kBtu),DefaultData,Comments,ComplianceStatus,Outlier,TotalGHGEmissions,GHGEmissionsIntensity
0,1,2016,NonResidential,Hotel,Mayflower park hotel,405 Olive way,Seattle,WA,98101.0,0659000030,...,1.156514e+06,3.946027e+06,12764.529300,1.276453e+06,False,NaN,Compliant,NaN,249.98,2.83
1,2,2016,NonResidential,Hotel,Paramount Hotel,724 Pine street,Seattle,WA,98101.0,0659000220,...,9.504252e+05,3.242851e+06,51450.816410,5.145082e+06,False,NaN,Compliant,NaN,295.86,2.86
2,3,2016,NonResidential,Hotel,5673-The Westin Seattle,1900 5th Avenue,Seattle,WA,98101.0,0659000475,...,1.451544e+07,4.952666e+07,14938.000000,1.493800e+06,False,NaN,Compliant,NaN,2089.28,2.19
3,5,2016,NonResidential,Hotel,HOTEL MAX,620 STEWART ST,Seattle,WA,98101.0,0659000640,...,8.115253e+05,2.768924e+06,18112.130860,1.811213e+06,False,NaN,Compliant,NaN,286.43,4.67
4,8,2016,NonResidential,Hotel,WARWICK SEATTLE HOTEL (ID8),401 LENORA ST,Seattle,WA,98121.0,0659000970,...,1.573449e+06,5.368607e+06,88039.984380,8.803998e+06,False,NaN,Compliant,NaN,505.01,2.88
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3371,50222,2016,Nonresidential COS,Office,Horticulture building,1600 S Dakota St,Seattle,WA,NaN,1624049080,...,1.536550e+05,5.242709e+05,3254.750244,3.254750e+05,True,NaN,Error - Correct Default Data,NaN,20.94,1.70
3372,50223,2016,Nonresidential COS,Other,International district/Chinatown CC,719 8th Ave S,Seattle,WA,NaN,3558300000,...,1.162210e+05,3.965461e+05,5537.299805,5.537300e+05,False,NaN,Compliant,NaN,32.17,2.01
3373,50224,2016,Nonresidential COS,Other,Queen Anne Pool,1920 1st Ave W,Seattle,WA,NaN,1794501150,...,5.252517e+05,1.792159e+06,39737.390630,3.973739e+06,False,NaN,Compliant,NaN,223.54,16.99
3374,50225,2016,Nonresidential COS,Mixed Use Property,South Park Community Center,8319 8th Ave S,Seattle,WA,NaN,7883603155,...,1.022480e+05,3.488702e+05,3706.010010,3.706010e+05,False,NaN,Compliant,NaN,22.11,1.57
3375,50226,2016,Nonresidential COS,Mixed Use Property,Van Asselt Community Center,2820 S Myrtle St,Seattle,WA,NaN,7857002030,...,1.267744e+05,4.325542e+05,7203.419922,7.203420e+05,False,NaN,Compliant,NaN,41.27,2.26

# Informations de base

In [11]:
print_subtitle('basic infos')
print(bold('dimensions'), ':', benchmarking.shape)
print(bold('size'), ':', *format_iB(getsizeof(benchmarking)))
display(benchmarking.info())

print_subtitle('basic stats')
display(benchmarking.describe(include='all'))

basic infos
dimensions : (3376, 46)
size : 3.776 MiB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3376 entries, 0 to 3375
Data columns (total 46 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   OSEBuildingID                    3376 non-null   int64
 1   DataYear                         3376 non-null   int64
 2   BuildingType                     3376 non-null   object
 3   PrimaryPropertyType              3376 non-null   object
 4   PropertyName                     3376 non-null   object
 5   Address                          3376 non-null   object
 6   City                             3376 non-null   object
 7   State                            3376 non-null   object
 8   ZipCode                          3360 non-null   float64
 9   TaxParcelIdentificationNumber    3376 non-null   object
 10  CouncilDistrictCode              3376 non-null   int64
 11  Neighborhood                     3376 non-null   object
 12  Latitude                         3376 non-null   float64
 13  Longitude                        3376 non-null   float64
 14  YearBuilt                        3376 non-null   int64
 15  NumberofBuildings                3368 non-null   float64
 16  NumberofFloors                   3376 non-null   int64
 17  PropertyGFATotal                 3376 non-null   int64
 18  PropertyGFAParking               3376 non-null   int64
 19  PropertyGFABuilding(s)           3376 non-null   int64
 20  ListOfAllPropertyUseTypes        3367 non-null   object
 21  LargestPropertyUseType           3356 non-null   object
 22  LargestPropertyUseTypeGFA        3356 non-null   float64
 23  SecondLargestPropertyUseType     1679 non-null   object
 24  SecondLargestPropertyUseTypeGFA  1679 non-null   float64
 25  ThirdLargestPropertyUseType      596 non-null    object
 26  ThirdLargestPropertyUseTypeGFA   596 non-null    float64
 27  YearsENERGYSTARCertified         119 non-null    object
 28  ENERGYSTARScore                  2533 non-null   float64
 29  SiteEUI(kBtu/sf)                 3369 non-null   float64
 30  SiteEUIWN(kBtu/sf)               3370 non-null   float64
 31  SourceEUI(kBtu/sf)               3367 non-null   float64
 32  SourceEUIWN(kBtu/sf)             3367 non-null   float64
 33  SiteEnergyUse(kBtu)              3371 non-null   float64
 34  SiteEnergyUseWN(kBtu)            3370 non-null   float64
 35  SteamUse(kBtu)                   3367 non-null   float64
 36  Electricity(kWh)                 3367 non-null   float64
 37  Electricity(kBtu)                3367 non-null   float64
 38  NaturalGas(therms)               3367 non-null   float64
 39  NaturalGas(kBtu)                 3367 non-null   float64
 40  DefaultData                      3376 non-null   bool
 41  Comments                         0 non-null      float64
 42  ComplianceStatus                 3376 non-null   object
 43  Outlier                          32 non-null     object
 44  TotalGHGEmissions                3367 non-null   float64
 45  GHGEmissionsIntensity            3367 non-null   float64
dtypes: bool(1), float64(22), int64(8), object(15)
memory usage: 1.2+ MB

None

basic stats

,OSEBuildingID,DataYear,BuildingType,PrimaryPropertyType,PropertyName,Address,City,State,ZipCode,TaxParcelIdentificationNumber,...,Electricity(kWh),Electricity(kBtu),NaturalGas(therms),NaturalGas(kBtu),DefaultData,Comments,ComplianceStatus,Outlier,TotalGHGEmissions,GHGEmissionsIntensity
count,3376.000000,3376.0,3376,3376,3376,3376,3376,3376,3360.000000,3376,...,3.367000e+03,3.367000e+03,3.367000e+03,3.367000e+03,3376,0.0,3376,32,3367.000000,3367.000000
unique,NaN,NaN,8,24,3362,3354,1,1,NaN,3268,...,NaN,NaN,NaN,NaN,2,NaN,4,2,NaN,NaN
top,NaN,NaN,NonResidential,Low-Rise Multifamily,Northgate Plaza,2600 SW Barton St,Seattle,WA,NaN,1625049001,...,NaN,NaN,NaN,NaN,False,NaN,Compliant,Low outlier,NaN,NaN
freq,NaN,NaN,1460,987,3,4,3376,3376,NaN,8,...,NaN,NaN,NaN,NaN,3263,NaN,3211,23,NaN,NaN
mean,21208.991114,2016.0,NaN,NaN,NaN,NaN,NaN,NaN,98116.949107,NaN,...,1.086639e+06,3.707612e+06,1.368505e+04,1.368505e+06,NaN,NaN,NaN,NaN,119.723971,1.175916
std,12223.757015,0.0,NaN,NaN,NaN,NaN,NaN,NaN,18.615205,NaN,...,4.352478e+06,1.485066e+07,6.709781e+04,6.709781e+06,NaN,NaN,NaN,NaN,538.832227,1.821452
min,1.000000,2016.0,NaN,NaN,NaN,NaN,NaN,NaN,98006.000000,NaN,...,-3.382680e+04,-1.154170e+05,0.000000e+00,0.000000e+00,NaN,NaN,NaN,NaN,-0.800000,-0.020000
25%,19990.750000,2016.0,NaN,NaN,NaN,NaN,NaN,NaN,98105.000000,NaN,...,1.874229e+05,6.394870e+05,0.000000e+00,0.000000e+00,NaN,NaN,NaN,NaN,9.495000,0.210000
50%,23112.000000,2016.0,NaN,NaN,NaN,NaN,NaN,NaN,98115.000000,NaN,...,3.451299e+05,1.177583e+06,3.237538e+03,3.237540e+05,NaN,NaN,NaN,NaN,33.920000,0.610000
75%,25994.250000,2016.0,NaN,NaN,NaN,NaN,NaN,NaN,98122.000000,NaN,...,8.293178e+05,2.829632e+06,1.189033e+04,1.189034e+06,NaN,NaN,NaN,NaN,93.940000,1.370000
max,50226.000000,2016.0,NaN,NaN,NaN,NaN,NaN,NaN,98272.000000,NaN,...,1.925775e+08,6.570744e+08,2.979090e+06,2.979090e+08,NaN,NaN,NaN,NaN,16870.980000,34.090000

# Production du dictionnaire des donn√©es

1. Cr√©ation de la GSheet vide
2. Son alimentation ainsi que la production du csv

## Groupes et types enrichis

In [ ]:
# chargement par d√©faut du sch√©ma d√©crit dans dataset_struct.json
dataset_struct_filename = 'dataset_struct.json'
dataset_struct = load_json_file(dataset_struct_filename)

off_struct.json loaded

In [13]:
def group(idx):
    #return dataset_struct[str(idx)]['group']
    return '<?>'
        
def subgroup(idx):
    #return dataset_struct[str(idx)]['subgroup']
    return '<?>'
        
def _type(idx):
    #return dataset_struct[str(idx)]['domain']
    return '<?>'

## Analyse g√©n√©rique (donn√©es quali et quanti)

`series_infos` analyse une Series et `dataframe_infos` toutes les Series d'un DataFrame.

In [18]:
import scipy.stats as sps
from statsmodels import robust


def series_infos(s, idx):
    precision = 3
    is_numeric = pd.api.types.is_numeric_dtype(s.dtype)
    is_bool = pd.api.types.is_bool_dtype(s.dtype)
    counts = s.value_counts()
    freqs = s.value_counts(normalize=True)
    return {
        'idx': idx,
        'group': group(idx),
        'subgroup': subgroup(idx),
        'name': s.name,
        'type': _type(idx),
        'format': '<NYI>',
        'dtype': s.dtype,
        'astype': '<NYI>',
        'unity': '<NYI>',
        'is_numeric': is_numeric,
        
        'n_elts': s.size,
        'hasnans': s.hasnans,
        'n_unique': s.nunique(),
        'n_notna': s.notna().sum(),
        'n_na': s.isna().sum(),
        'filling_rate': round(s.notna().sum() / s.size, precision),
        
        'val_min': s.min() if is_numeric else None,
        'val_max': s.max() if is_numeric else None,
        'val_mode': str([round(m, 2) for m in s.mode().tolist()]) if is_numeric else None,
        'val_mean': round(s.mean(), precision) if is_numeric else None,
        'val_trim_mean_10pc': sps.trim_mean(s.dropna().values, 0.1) if is_numeric else None, # TODO test : pas certain que ce ne soit pas s.values
        'val_med': s.median() if is_numeric else None,
        
        'val_std': round(s.std(), precision) if is_numeric else None,
        'val_interq_range': (s.quantile(0.75) - s.quantile(0.25)) if is_numeric and not is_bool else None,
        'val_med_abs_dev': robust.scale.mad(s.dropna()) if is_numeric else None,
        'val_skew': round(s.skew(), precision) if is_numeric else None,
        'val_kurt': round(s.kurtosis(), precision) if is_numeric else None,
        'interval': [s.min(), s.max()] if is_numeric else None,
        
        # 'index': list(s.index),
        'modalities': list(counts.index) if not is_numeric else None,
        'mod_counts': list(counts) if not is_numeric else None,
        'mod_freqs': list(freqs) if not is_numeric else None,
        
        # les 9 suivants ne sont pas repris dans le dictionnaire de donn√©es -> d√©placement vers la fin
        'shape': s.shape,
        'ndim': s.ndim,
        'empty': s.empty,
        'size': s.size,
        'nbytes': s.nbytes,
        'memory_usage': s.memory_usage,
        'flags': s.flags,
        'array container type': type(s.array),
        'values container type': type(s.values)
    }


def dataframe_infos(df):
    infos = [pd.Series(series_infos(df[c], df.columns.get_loc(c))) for c in df.columns]
    return pd.DataFrame(infos)

## Utilisation

### Production de l'analyse et export CSV

In [15]:
def data_csv_report(data, csv_filename):
    # production de la version brute
    data_on_data = dataframe_infos(data)
    display(data_on_data)

    # quelques all√®gements avant export
    data_on_data['modalities'] = data_on_data['modalities'].apply(lambda x: None if x is None else x[:30] + ['...'])
    data_on_data['mod_counts'] = data_on_data['mod_counts'].apply(lambda x: None if x is None else x[:30] + [sum(x[30:])])
    data_on_data['mod_freqs'] = data_on_data['mod_freqs'].apply(lambda x: None if x is None else x[:30] + [sum(x[30:])])

    data_on_data.drop(columns=['memory_usage'], inplace=True)

    vars_analysis_path = os.path.join(csv_data_dir, csv_filename)
    data_on_data.to_csv(vars_analysis_path, sep=',', encoding='utf-8', index=False)
    return data_on_data

### Export direct vers la Google Sheet

In [16]:
def data_gsheet_report(data_on_data, spread, sheet_name):
    exported = data_on_data.copy()

    def null_convert(s):
        return s.apply(lambda x: '' if x is None or str(x) in ['nan', '[]', '[nan, nan]'] else x)
    
    exported = exported.apply(null_convert)

    # un classique pour √©viter l'interpr√©tation num√©rique par Google
    exported['shape'] = exported['shape'].apply(lambda x: '\'' + str(x))

    # gestion de la locale dans un monde num√©rique domin√© par les anglo-saxons
    def fr_convert(s):
        return s.apply(lambda x: str(x).replace(',', ';').replace('.', ','))
   
    exported.loc[:, 'filling_rate':'mod_freqs'] = exported.loc[:, 'filling_rate':'mod_freqs'].apply(fr_convert)

    spread.df_to_sheet(exported, sheet=sheet_name, index=False, headers=False, start='A7')

    # un dernier contr√¥le visuel
    display(exported.loc[:, 'filling_rate':'mod_freqs'])

### Application

In [19]:
# !pip install gspread
import gspread
#!pip install gspread-pandas
from gspread_pandas import Spread
#gspread.oauth()   # TODO : voir comment se passer de gspread_tout_court sur cette √©tape d'auth

# export de l'analyse des variables
spread = Spread('1gtTOd-taN9aY8sg4PGY456E2AlsMxi2W_-7kZaCSYlA')    # target GSheet
#load_data_config('off_struct.json')     # chargement du sch√©ma d√©crit dans data_struct.json (version brute de Big OFF)
data_on_data = data_csv_report(benchmarking, 'dataset_vars_analysis.csv')
data_gsheet_report(data_on_data, spread, 'data_dict')

,idx,group,subgroup,name,type,format,dtype,astype,unity,is_numeric,...,mod_freqs,shape,ndim,empty,size,nbytes,memory_usage,flags,array container type,values container type
0,0,<?>,<?>,OSEBuildingID,<?>,<NYI>,int64,<NYI>,<NYI>,True,...,None,"(3376,)",1,False,3376,27008,<bound method Series.memory_usage of 0 ...,<Flags(allows_duplicate_labels=True)>,<class 'pandas.core.arrays.numpy_.PandasArray'>,<class 'numpy.ndarray'>
1,1,<?>,<?>,DataYear,<?>,<NYI>,int64,<NYI>,<NYI>,True,...,None,"(3376,)",1,False,3376,27008,<bound method Series.memory_usage of 0 2...,<Flags(allows_duplicate_labels=True)>,<class 'pandas.core.arrays.numpy_.PandasArray'>,<class 'numpy.ndarray'>
2,2,<?>,<?>,BuildingType,<?>,<NYI>,object,<NYI>,<NYI>,False,...,"[0.4324644549763033, 0.3015402843601896, 0.171...","(3376,)",1,False,3376,27008,<bound method Series.memory_usage of 0 ...,<Flags(allows_duplicate_labels=True)>,<class 'pandas.core.arrays.numpy_.PandasArray'>,<class 'numpy.ndarray'>
3,3,<?>,<?>,PrimaryPropertyType,<?>,<NYI>,object,<NYI>,<NYI>,False,...,"[0.29235781990521326, 0.1670616113744076, 0.08...","(3376,)",1,False,3376,27008,<bound method Series.memory_usage of 0 ...,<Flags(allows_duplicate_labels=True)>,<class 'pandas.core.arrays.numpy_.PandasArray'>,<class 'numpy.ndarray'>
4,4,<?>,<?>,PropertyName,<?>,<NYI>,object,<NYI>,<NYI>,False,...,"[0.0008886255924170616, 0.0005924170616113745,...","(3376,)",1,False,3376,27008,<bound method Series.memory_usage of 0 ...,<Flags(allows_duplicate_labels=True)>,<class 'pandas.core.arrays.numpy_.PandasArray'>,<class 'numpy.ndarray'>
5,5,<?>,<?>,Address,<?>,<NYI>,object,<NYI>,<NYI>,False,...,"[0.001184834123222749, 0.001184834123222749, 0...","(3376,)",1,False,3376,27008,<bound method Series.memory_usage of 0 ...,<Flags(allows_duplicate_labels=True)>,<class 'pandas.core.arrays.numpy_.PandasArray'>,<class 'numpy.ndarray'>
6,6,<?>,<?>,City,<?>,<NYI>,object,<NYI>,<NYI>,False,...,[1.0],"(3376,)",1,False,3376,27008,<bound method Series.memory_usage of 0 S...,<Flags(allows_duplicate_labels=True)>,<class 'pandas.core.arrays.numpy_.PandasArray'>,<class 'numpy.ndarray'>
7,7,<?>,<?>,State,<?>,<NYI>,object,<NYI>,<NYI>,False,...,[1.0],"(3376,)",1,False,3376,27008,<bound method Series.memory_usage of 0 W...,<Flags(allows_duplicate_labels=True)>,<class 'pandas.core.arrays.numpy_.PandasArray'>,<class 'numpy.ndarray'>
8,8,<?>,<?>,ZipCode,<?>,<NYI>,float64,<NYI>,<NYI>,True,...,None,"(3376,)",1,False,3376,27008,<bound method Series.memory_usage of 0 9...,<Flags(allows_duplicate_labels=True)>,<class 'pandas.core.arrays.numpy_.PandasArray'>,<class 'numpy.ndarray'>
9,9,<?>,<?>,TaxParcelIdentificationNumber,<?>,<NYI>,object,<NYI>,<NYI>,False,...,"[0.002369668246445498, 0.001481042654028436, 0...","(3376,)",1,False,3376,27008,<bound method Series.memory_usage of 0 0...,<Flags(allows_duplicate_labels=True)>,<class 'pandas.core.arrays.numpy_.PandasArray'>,<class 'numpy.ndarray'>
10,10,<?>,<?>,CouncilDistrictCode,<?>,<NYI>,int64,<NYI>,<NYI>,True,...,None,"(3376,)",1,False,3376,27008,<bound method Series.memory_usage of 0 7...,<Flags(allows_duplicate_labels=True)>,<class 'pandas.core.arrays.numpy_.PandasArray'>,<class 'numpy.ndarray'>
11,11,<?>,<?>,Neighborhood,<?>,<NYI>,object,<NYI>,<NYI>,False,...,"[0.16972748815165878, 0.1341824644549763, 0.12...","(3376,)",1,False,3376,27008,<bound method Series.memory_usage of 0 ...,<Flags(allows_duplicate_labels=True)>,<class 'pandas.core.arrays.numpy_.PandasArray'>,<class 'numpy.ndarray'>
12,12,<?>,<?>,Latitude,<?>,<NYI>,float64,<NYI>,<NYI>,True,...,None,"(3376,)",1,False,3376,27008,<bound method Series.memory_usage of 0 4...,<Flags(allows_duplicate_labels=True)>,<class 'pandas.core.arrays.numpy_.PandasArray'>,<class 'numpy.ndarray'>
13,13,<?>,<?>,Longitude,<?>,<NYI>,float64,<NYI>,<NYI>,True,...,None,"(3376,)",1,False,3376,27008,<bound method Series.memory_usage of 0 -1...,<Flags(allows_duplicate_labels=True)>,<class 'pandas.core.arrays.numpy_.PandasArray'>,<class 'numpy.ndarray'>
14,14,<?>,<?>,YearBuilt,<?>,<NYI>,int64,<NYI>,<NYI>,True,...,None,"(3376,)",1,False,3376,27008,<bound method Series.memory_usage of 0 1...,<Flags(allows_duplicate_labels=True)>,<class 'pandas.core.arrays.numpy_.PandasArray'>,<class 'numpy.ndarray'>
15,15,<?>,<?>,NumberofBuildings,<?>,<NYI>,float64,<NYI>,<NYI>,True,...,None,"(3376,)",1,False,3376,27008,<bound method Series.memory_usage of 0 1...,<Flags(allows_duplicate_labels=True)>,<class 'pandas.core.arrays.numpy_.PandasArray'>,<class 'numpy.ndarray'>
16,16,<?>,<?>,NumberofFloors,<?>,<NYI>,int64,<NYI>,<NYI>,True,...,None,"(3376,)",1,False,3376,27008,<bound method Series.memory_usage of 0 1...,<Flags(allows_duplicate_labels=True)>,<class 'pandas.core.arrays.numpy_.PandasArray'>,<class 'numpy.ndarray'>
17,17,<?>,<?>,PropertyGFATotal,<?>,<NYI>,int64,<NYI>,<NYI>,True,...,None,"(3376,)",1,False,3376,27008,<bound method Series.memory_usage of 0 ...,<Flags(allows_duplicate_labels=True)>,<class 'pandas.core.arrays.numpy_.PandasArray'>,<class 'numpy.ndarray'>
18,18,<?>,<?>,PropertyGFAParking,<?>,<NYI>,int64,<NYI>,<NYI>,True,...,None,"(3376,)",1,False,3376,27008,<bound method Series.memory_usage of 0 ...,<Flags(allows_duplicate_labels=True)>,<class 'pandas.core.arrays.numpy_.PandasArray'>,<class 'numpy.ndarray'>
19,19,<?>,<?>,PropertyGFABuilding(s),<?>,<NYI>,int64,<NYI>,<NYI>,True,...,None,"(3376,)",1,False,3376,27008,<bound method Series.memory_usage of 0 ...,<Flags(allows_duplicate_labels=True)>,<class 'pandas.core.arrays.numpy_.PandasArray'>,<class 'numpy.ndarray'>
20,20,<?>,<?>,ListOfAllPropertyUseTypes,<?>,<NYI>,object,<NYI>,<NYI>,False,...,"[0.2572022572022572, 0.1378081378081378, 0.041...","(3376,)",1,False,3376,27008,<bound method Series.memory_usage of 0 ...,<Flags(allows_duplicate_labels=True)>,<class 'pandas.core.arrays.numpy_.PandasArray'>,<class 'numpy.ndarray'>
21,21,<?>,<?>,LargestPropertyUseType,<?>,<NYI>,object,<NYI>,<NYI>,False,...,"[0.4967222884386174, 0.14839094159713945, 0.05...","(3376,)",1,False,3376,27008,<bound method Series.memory_usage of 0 ...,<Flags(allows_duplicate_labels=True)>,<class 'pandas.core.arrays.numpy_.PandasArray'>,<class 'numpy.ndarray'>
22,22,<?>,<?>,LargestPropertyUseTypeGFA,<?>,<NYI>,float64,<NYI>,<NYI>,True,...,None,"(3376,)",1,False,3376,27008,<bound method Series.memory_usage of 0 ...,<Flags(allows_duplicate_labels=True)>,<class 'pandas.core.arrays.numpy_.PandasArray'>,<class 'numpy.ndarray'>
23,23,<?>,<?>,SecondLargestPropertyUseType,<?>,<NYI>,object,<NYI>,<NYI>,False,...,"[0.5812983918999405, 0.12805241215008933, 0.09...","(3376,)",1,False,3376,27008,<bound method Series.memory_usage of 0 ...,<Flags(allows_duplicate_labels=True)>,<class 'pandas.core.arrays.numpy_.PandasArray'>,<class 'numpy.ndarray'>
24,24,<?>,<?>,SecondLargestPropertyUseTypeGFA,<?>,<NYI>,float64,<NYI>,<NYI>,True,...,None,"(3376,)",1,False,3376,27008,<bound method Series.memory_usage of 0 ...,<Flags(allows_duplicate_labels=True)>,<class 'pandas.core.arrays.numpy_.PandasArray'>,<class 'numpy.ndarray'>
25,25,<?>,<?>,ThirdLargestPropertyUseType,<?>,<NYI>,object,<NYI>,<NYI>,False,...,"[0.18456375838926176, 0.1761744966442953, 0.11...","(3376,)",1,False,3376,27008,<bound method Series.memory_usage of 0 ...,<Flags(allows_duplicate_labels=True)>,<class 'pandas.core.arrays.numpy_.PandasArray'>,<class 'numpy.ndarray'>
26,26,<?>,<?>,ThirdLargestPropertyUseTypeGFA,<?>,<NYI>,float64,<NYI>,<NYI>,True,...,None,"(3376,)",1,False,3376,27008,<bound method Series.memory_usage of 0 ...,<Flags(allows_duplicate_labels=True)>,<class 'pandas.core.arrays.numpy_.PandasArray'>,<class 'numpy.ndarray'>
27,27,<?>,<?>,YearsENERGYSTARCertified,<?>,<NYI>,object,<NYI>,<NYI>,False,...,"[0.11764705882352941, 0.06722689075630252, 0.0...","(3376,)",1,False,3376,27008,<bound method Series.memory_usage of 0 N...,<Flags(allows_duplicate_labels=True)>,<class 'pandas.core.arrays.numpy_.PandasArray'>,<class 'numpy.ndarray'>
28,28,<?>,<?>,ENERGYSTARScore,<?>,<NYI>,float64,<NYI>,<NYI>,True,...,None,"(3376,)",1,False,3376,27008,<bound method Series.memory_usage of 0 6...,<Flags(allows_duplicate_labels=True)>,<class 'pandas.core.arrays.numpy_.PandasArray'>,<class 'numpy.ndarray'>
29,29,<?>,<?>,SiteEUI(kBtu/sf),<?>,<NYI>,float64,<NYI>,<NYI>,True,...,None,"(3376,)",1,False,3376,27008,<bound method Series.memory_usage of 0 ...,<Flags(allows_duplicate_labels=True)>,<class 'pandas.core.arrays.numpy_.PandasArray'>,<class 'numpy.ndarray'>
30,30,<?>,<?>,SiteEUIWN(kBtu/sf),<?>,<NYI>,float64,<NYI>,<NYI>,True,...,None,"(3376,)",1,False,3376,27008,<bound method Series.memory_usage of 0 ...,<Flags(allows_duplicate_labels=True)>,<class 'pandas.core.arrays.numpy_.PandasArray'>,<class 'numpy.ndarray'>
31,31,<?>,<?>,SourceEUI(kBtu/sf),<?>,<NYI>,float64,<NYI>,<NYI>,True,...,None,"(3376,)",1,False,3376,27008,<bound method Series.memory_usage of 0 1...,<Flags(allows_duplicate_labels=True)>,<class 'pandas.core.arrays.numpy_.PandasArray'>,<class 'numpy.ndarray'>
32,32,<?>,<?>,SourceEUIWN(kBtu/sf),<?>,<NYI>,float64,<NYI>,<NYI>,True,...,None,"(3376,)",1,False,3376,27008,<bound method Series.memory_usage of 0 1...,<Flags(allows_duplicate_labels=True)>,<class 'pandas.core.arrays.numpy_.PandasArray'>,<class 'numpy.ndarray'>
33,33,<?>,<?>,SiteEnergyUse(kBtu),<?>,<NYI>,float64,<NYI>,<NYI>,True,...,None,"(3376,)",1,False,3376,27008,<bound method Series.memory_usage of 0 7...,<Flags(allows_duplicate_labels=True)>,<class 'pandas.core.arrays.numpy_.PandasArray'>,<class 'numpy.ndarray'>
34,34,<?>,<?>,SiteEnergyUseWN(kBtu),<?>,<NYI>,float64,<NYI>,<NYI>,True,...,None,"(3376,)",1,False,3376,27008,<bound method Series.memory_usage of 0 7...,<Flags(allows_duplicate_labels=True)>,<class 'pandas.core.arrays.numpy_.PandasArray'>,<class 'numpy.ndarray'>
35,35,<?>,<?>,SteamUse(kBtu),<?>,<NYI>,float64,<NYI>,<NYI>,True,...,None,"(3376,)",1,False,3376,27008,<bound method Series.memory_usage of 0 ...,<Flags(allows_duplicate_labels=True)>,<class 'pandas.core.arrays.numpy_.PandasArray'>,<class 'numpy.ndarray'>
36,36,<?>,<?>,Electricity(kWh),<?>,<NYI>,float64,<NYI>,<NYI>,True,...,None,"(3376,)",1,False,3376,27008,<bound method Series.memory_usage of 0 1...,<Flags(allows_duplicate_labels=True)>,<class 'pandas.core.arrays.numpy_.PandasArray'>,<class 'numpy.ndarray'>
37,37,<?>,<?>,Electricity(kBtu),<?>,<NYI>,float64,<NYI>,<NYI>,True,...,None,"(3376,)",1,False,3376,27008,<bound method Series.memory_usage of 0 3...,<Flags(allows_duplicate_labels=True)>,<class 'pandas.core.arrays.numpy_.PandasArray'>,<class 'numpy.ndarray'>
38,38,<?>,<?>,NaturalGas(therms),<?>,<NYI>,float64,<NYI>,<NYI>,True,...,None,"(3376,)",1,False,3376,27008,<bound method Series.memory_usage of 0 1...,<Flags(allows_duplicate_labels=True)>,<class 'pandas.core.arrays.numpy_.PandasArray'>,<class 'numpy.ndarray'>
39,39,<?>,<?>,NaturalGas(kBtu),<?>,<NYI>,float64,<NYI>,<NYI>,True,...,None,"(3376,)",1,False,3376,27008,<bound method Series.memory_usage of 0 1...,<Flags(allows_duplicate_labels=True)>,<class 'pandas.core.arrays.numpy_.PandasArray'>,<class 'numpy.ndarray'>
40,40,<?>,<?>,DefaultData,<?>,<NYI>,bool,<NYI>,<NYI>,True,...,None,"(3376,)",1,False,3376,3376,<bound method Series.memory_usage of 0 F...,<Flags(allows_duplicate_labels=True)>,<class 'pandas.core.arrays.numpy_.PandasArray'>,<class 'numpy.ndarray'>
41,41,<?>,<?>,Comments,<?>,<NYI>,float64,<NYI>,<NYI>,True,...,None,"(3376,)",1,False,3376,27008,<bound method Series.memory_usage of 0 Na...,<Flags(allows_duplicate_labels=True)>,<class 'pandas.core.arrays.numpy_.PandasArray'>,<class 'numpy.ndarray'>
42,42,<?>,<?>,ComplianceStatus,<?>,<NYI>,object,<NYI>,<NYI>,False,...,"[0.9511255924170616, 0.03347156398104265, 0.01...","(3376,)",1,False,3376,27008,<bound method Series.memory_usage of 0 ...,<Flags(allows_duplicate_labels=True)>,<class 'pandas.core.arrays.numpy_.PandasArray'>,<class 'numpy.ndarray'>
43,43,<?>,<?>,Outlier,<?>,<NYI>,object,<NYI>,<NYI>,False,...,"[0.71875, 0.28125]","(3376,)",1,False,3376,27008,<bound method Series.memory_usage of 0 N...,<Flags(allows_duplicate_labels=True)>,<class 'pandas.core.arrays.numpy_.PandasArray'>,<class 'numpy.ndarray'>
44,44,<?>,<?>,TotalGHGEmissions,<?>,<NYI>,float64,<NYI>,<NYI>,True,...,None,"(3376,)",1,False,3376,27008,<bound method Series.memory_usage of 0 ...,<Flags(allows_duplicate_labels=True)>,<class 'pandas.core.arrays.numpy_.PandasArray'>,<class 'numpy.ndarray'>
45,45,<?>,<?>,GHGEmissionsIntensity,<?>,<NYI>,float64,<NYI>,<NYI>,True,...,None,"(3376,)",1,False,3376,27008,<bound method Series.memory_usage of 0 ...,<Flags(allows_duplicate_labels=True)>,<class 'pandas.core.arrays.numpy_.PandasArray'>,<class 'numpy.ndarray'>

,filling_rate,val_min,val_max,val_mode,val_mean,val_trim_mean_10pc,val_med,val_std,val_interq_range,val_med_abs_dev,val_skew,val_kurt,interval,modalities,mod_counts,mod_freqs
0,"1,0",1,50226,[1; 2; 3; 5; 8; 9; 10; 11; 12; 13; 15; 16; 17;...,"21208,991","20975,289045151738","23112,0","12223,757","6003,5","4466,339183248127","-0,008","0,651",[1; 50226],,,
1,"1,0",2016,2016,[2016],"2016,0","2016,0","2016,0","0,0","0,0","0,0","0,0","0,0",[2016; 2016],,,
2,"1,0",,,,,,,,,,,,,['NonResidential'; 'Multifamily LR (1-4)'; 'Mu...,[1460; 1018; 580; 110; 98; 85; 24; 1; 0],"[0,4324644549763033; 0,3015402843601896; 0,171..."
3,"1,0",,,,,,,,,,,,,['Low-Rise Multifamily'; 'Mid-Rise Multifamily...,[987; 564; 293; 256; 187; 173; 139; 133; 105; ...,"[0,29235781990521326; 0,1670616113744076; 0,08..."
4,"1,0",,,,,,,,,,,,,['Northgate Plaza'; 'Canal Building'; 'Jeffers...,[3; 2; 2; 2; 2; 2; 2; 2; 2; 2; 2; 2; 2; 1; 1; ...,"[0,0008886255924170616; 0,0005924170616113745;..."
5,"1,0",,,,,,,,,,,,,['2600 SW Barton St'; '2203 Airport Way S'; '3...,[4; 4; 4; 2; 2; 2; 2; 2; 2; 2; 2; 2; 2; 2; 2; ...,"[0,001184834123222749; 0,001184834123222749; 0..."
6,"1,0",,,,,,,,,,,,,"['Seattle'; ',,,']",[3376; 0],"[1,0; 0]"
7,"1,0",,,,,,,,,,,,,"['WA'; ',,,']",[3376; 0],"[1,0; 0]"
8,"0,995","98006,0","98272,0","[98109,0]","98116,949","98114,37686011905","98115,0","18,615","17,0","14,82602218505602","2,0","10,493","[98006,0; 98272,0]",,,
9,"1,0",,,,,,,,,,,,,['1625049001'; '3224049012'; '0925049346'; '00...,[8; 5; 5; 5; 4; 4; 4; 3; 3; 3; 3; 3; 3; 3; 3; ...,"[0,002369668246445498; 0,001481042654028436; 0..."
10,"1,0",1,7,[7],"4,439","4,528497409326425","4,0","2,121","4,0","2,965204437011204","-0,07","-1,445",[1; 7],,,
11,"1,0",,,,,,,,,,,,,['DOWNTOWN'; 'EAST'; 'MAGNOLIA / QUEEN ANNE'; ...,[573; 453; 423; 375; 280; 251; 210; 166; 145; ...,"[0,16972748815165878; 0,1341824644549763; 0,12..."
12,"1,0","47,49917","47,73387","[47,66]","47,624","47,623274203330865","47,618674999999996","0,048","0,05725500000000494","0,0420836639722764","0,14","-0,141","[47,49917; 47,73387]",,,
13,"1,0","-122,41425","-122,2209659","[-122,3]","-122,335","-122,33432221017765","-122,332495","0,027","0,03125500000000159","0,02243177156597804","-0,138","0,262","[-122,41425; -122,2209659]",,,
14,"1,0",1900,2015,[2000],"1968,573","1970,8689859363435","1975,0","33,088","49,0","35,58245324413445","-0,539","-0,871",[1900; 2015],,,
15,"0,998","0,0","111,0","[1,0]","1,107","1,0","1,0","2,108","0,0","0,0","43,395","2205,296","[0,0; 111,0]",,,
16,"1,0",0,99,[3; 4],"4,709","3,741302738712065","4,0","5,494","3,0","2,965204437011204","5,922","55,951",[0; 99],,,
17,"1,0",11285,9320156,[36000],"94833,537","59799,758327165066","44175,0","218837,607","62505,0","29265,82649219133","24,129","946,239",[11285; 9320156],,,
18,"1,0",0,512608,[0],"8001,526","494,51776461880087","0,0","32326,724","0,0","0,0","6,651","58,975",[0; 512608],,,
19,"1,0",3636,9320156,[36000],"86832,011","55986,374167283495","43216,0","207939,812","56520,25","28107,914159538454","27,624","1161,36",[3636; 9320156],,,
20,"0,997",,,,,,,,,,,,,['Multifamily Housing'; 'Multifamily Housing; ...,[866; 464; 139; 135; 120; 101; 61; 61; 56; 52;...,"[0,2572022572022572; 0,1378081378081378; 0,041..."
21,"0,994",,,,,,,,,,,,,['Multifamily Housing'; 'Office'; 'Non-Refrige...,[1667; 498; 199; 139; 102; 99; 77; 71; 54; 46;...,"[0,4967222884386174; 0,14839094159713945; 0,05..."
22,"0,994","5656,0","9320156,0","[22000,0; 24000,0]","79177,639","51200,66753536858","39894,0","201703,407","51105,5","26055,25138801745","30,096","1320,61","[5656,0; 9320156,0]",,,
23,"0,497",,,,,,,,,,,,,['Parking'; 'Office'; 'Retail Store'; 'Other';...,[976; 215; 155; 59; 40; 33; 18; 17; 14; 13; 12...,"[0,5812983918999405; 0,12805241215008933; 0,09..."
24,"0,497","0,0","686750,0","[0,0]","28444,076","16320,940892193308","10664,0","54392,918","21640,0","11214,403180776373","5,033","36,302","[0,0; 686750,0]",,,
25,"0,177",,,,,,,,,,,,,['Retail Store'; 'Office'; 'Parking'; 'Restaur...,[110; 105; 71; 56; 49; 29; 18; 17; 14; 12; 11;...,"[0,18456375838926176; 0,1761744966442953; 0,11..."
26,"0,177","0,0","459748,0","[0,0]","11738,675","6443,821130217573","5043,0","29331,199","7899,75","5323,2832655443635","9,197","114,187","[0,0; 459748,0]",,,
27,"0,035",,,,,,,,,,,,,['2016'; '20172016'; '2017'; '20162015'; '2014...,[14; 8; 7; 6; 6; 4; 4; 3; 3; 3; 2; 2; 2; 2; 2;...,"[0,11764705882352941; 0,06722689075630252; 0,0..."
28,"0,75","1,0","100,0","[100,0]","67,919","71,09422792303897","75,0","26,873","37,0","25,204237714595234","-0,859","-0,22","[1,0; 100,0]",,,
29,"0,998","0,0","834,4000244","[24,7; 28,8]","54,732","43,94137932225065","38,59999847","56,273","32,500001909999995","20,015129949825628","4,982","39,995","[0,0; 834,4000244]",,,
30,"0,998","0,0","834,4000244","[0,0]","57,034","46,29332342778561","40,90000153","57,163","34,87500190499999","21,201213429622655","4,828","37,64","[0,0; 834,4000244]",,,
31,"0,997","0,0","2620,0","[0,0]","134,233","108,99925785822634","96,19999695","139,288","69,19999695","41,216334884137574","6,595","77,665","[0,0; 2620,0]",,,
32,"0,997","-2,099999905","2620,0","[0,0]","137,784","113,17669753855658","101,0999985","139,11","69,94999697","42,25416327188771","6,57","77,442","[-2,099999905; 2620,0]",,,
33,"0,999","0,0","873923712,0","[0,0]","5403667,295","2628708,7774419724","1803753,25","21610628,628","3297326,65625","1592842,6817274431","24,842","858,618","[0,0; 873923712,0]",,,
34,"0,998","0,0","471613856,0","[0,0]","5276725,714","2737999,083507233","1904452,0","15938786,484","3411246,890625","1675484,6899770799","15,269","334,505","[0,0; 471613856,0]",,,
35,"0,997","0,0","134943456,0","[0,0]","274595,898","0,0","0,0","3912173,393","0,0","0,0","26,721","804,864","[0,0; 134943456,0]",,,
36,"0,997","-33826,80078","192577488,0","[0,0]","1086638,967","516738,0539469387","345129,9063","4352478,355","641894,8984000001","297552,79815839353","28,728","1157,499","[-33826,80078; 192577488,0]",,,
37,"0,997","-115417,0","657074389,0","[0,0]","3707612,162","1763110,248717811","1177583,0","14850656,139","2190145,5","1015250,416779392","28,728","1157,499","[-115417,0; 657074389,0]",,,
38,"0,997","0,0","2979090,0","[0,0]","13685,045","5942,344350727026","3237,537598","67097,808","11890,33496","4799,980425290098","30,039","1201,032","[0,0; 2979090,0]",,,
39,"0,997","0,0","297909000,0","[0,0]","1368504,541","594234,4367487199","323754,0","6709780,835","1189033,5","479998,3986500627","30,039","1201,032","[0,0; 297909000,0]",,,
40,"1,0",False,True,[0],"0,033","0,0","0,0","0,18",,"0,0","5,19","24,949",[False; True],,,
41,"0,0",,,,,,,,,,,,,,,
42,"1,0",,,,,,,,,,,,,['Compliant'; 'Error - Correct Default Data'; ...,[3211; 113; 37; 15; 0],"[0,9511255924170616; 0,03347156398104265; 0,01..."
43,"0,009",,,,,,,,,,,,,"['Low outlier'; 'High outlier'; ',,,']",[23; 9; 0],"[0,71875; 0,28125; 0]"
44,"0,997","-0,8","16870,98","[0,0]","119,724","53,12906493506493","33,92","538,832","84,445","41,42390598504652","19,482","474,892","[-0,8; 16870,98]",,,
45,"0,997","-0,02","34,09","[0,15; 0,17]","1,176","0,8102003710575139","0,61","1,821","1,1600000000000001","0,6523449761424648","5,593","57,372","[-0,02; 34,09]",,,