# Classification

Following the discovery phase, we proceed to a more advanced point on the classification of uses.

There are indeed many redundancies between the 9 + 1 variables that cover this aspect, and probably contradictions.

The objective is to reduce and consolidate these classes which we will then use to segment our analyses, in particular energy consumption profiles according to the types of use.

In [1]:
from pepper_commons import *
from seattle_commons import clean_dataset

✔ _data loaded
✔ struct loaded

In [2]:
data = get_data()
_data, not_compliant, outliers = clean_dataset(data)

Removal of outliers

,OSEBuildingID,BuildingType,PrimaryPropertyType,PropertyName,Address,ZipCode,TaxParcelIdentificationNumber,CouncilDistrictCode,Neighborhood,Latitude,...,SiteEnergyUseWN(kBtu),SteamUse(kBtu),Electricity(kWh),Electricity(kBtu),NaturalGas(therms),NaturalGas(kBtu),ComplianceStatus,Outlier,TotalGHGEmissions,GHGEmissionsIntensity
226,350,NonResidential,Large Office,Second And Spring Building,1100 Second Avenue,98101.0,0942000045,7,DOWNTOWN,47.60642,...,4.165040e+07,0.0,1.166315e+07,39794668.0,16048.309570,1604831.0,Non-Compliant,High outlier,362.66,2.10
384,539,NonResidential,Retail Store,University Center,4501 Roosevelt Way NE,98105.0,5335200380,4,NORTHEAST,47.66178,...,3.189628e+05,0.0,9.348260e+04,318963.0,0.000000,0.0,Non-Compliant,Low outlier,2.22,0.03
448,608,NonResidential,Large Office,411 1ST AVE S (ID608),411 1ST AVE S,98104.0,5247800200,2,DOWNTOWN,47.59878,...,1.134876e+07,0.0,4.715030e+05,1608768.0,3430.500488,343050.0,Non-Compliant,Low outlier,29.43,0.19
517,704,NonResidential,Large Office,401 Elliott Ave West,401 Elliot Ave West,98119.0,7666202110,7,MAGNOLIA / QUEEN ANNE,47.62235,...,2.713719e+07,0.0,7.953454e+06,27137187.0,0.000000,0.0,Non-Compliant,High outlier,189.18,1.46
720,19708,Multifamily HR (10+),High-Rise Multifamily,Bay Vista,2821 2nd Ave,98121.0,0586400000,7,DOWNTOWN,47.61706,...,2.589126e+06,0.0,6.265616e+05,2137828.0,2700.760010,270076.0,Non-Compliant,Low outlier,29.25,0.17

⇒ 32 outliers + Outlier column dropped

Removal of not compliant

,OSEBuildingID,BuildingType,PrimaryPropertyType,PropertyName,Address,ZipCode,TaxParcelIdentificationNumber,CouncilDistrictCode,Neighborhood,Latitude,...,SiteEnergyUse(kBtu),SiteEnergyUseWN(kBtu),SteamUse(kBtu),Electricity(kWh),Electricity(kBtu),NaturalGas(therms),NaturalGas(kBtu),ComplianceStatus,TotalGHGEmissions,GHGEmissionsIntensity
22,28,SPS-District K-12,K-12 School,Graham Hill Elementary,5149 S. Graham St.,98118.0,1102000138,2,SOUTHEAST,47.54576,...,1539478.5,1713623.5,0.0,274605.9063,936955.0,6025.229004,602523.0,Error - Correct Default Data,38.53,0.69
28,34,SPS-District K-12,K-12 School,Meany Building,301/300 21st Ave. E.,98112.0,0688000090,3,Central,47.62266,...,0.0,0.0,0.0,0.0000,0.0,0.000000,0.0,Missing Data,0.00,0.00
30,36,SPS-District K-12,K-12 School,Jane Addams Middle,11051 34th Ave. N.E.,98125.0,0752000170,5,NORTH,47.70994,...,6779173.0,7800349.5,0.0,570809.1875,1947601.0,48315.718750,4831572.0,Error - Correct Default Data,270.18,1.68
31,37,SPS-District K-12,K-12 School,John Hay Elementary,201 Garfield St.,98109.0,0809000005,7,MAGNOLIA / QUEEN ANNE,47.63290,...,0.0,0.0,0.0,438691.6875,1496816.0,0.000000,0.0,Missing Data,10.43,0.20
38,51,SPS-District K-12,K-12 School,Eckstein Middle,3003 N.E. 75th St.,98115.0,0425049022,4,NORTHEAST,47.68252,...,6399127.5,7329817.5,0.0,468840.5000,1599684.0,47994.433590,4799443.0,Error - Correct Default Data,266.05,1.52

⇒ 133 not compliant + ComplianceStatus column dropped

# Overview

In [3]:
use_cols = [
    'BuildingType', 'PrimaryPropertyType', 'ListOfAllPropertyUseTypes', 'LargestPropertyUseType',
    'SecondLargestPropertyUseType', 'ThirdLargestPropertyUseType'
]
use_data = _data[use_cols].copy()
display(use_data)

,BuildingType,PrimaryPropertyType,ListOfAllPropertyUseTypes,LargestPropertyUseType,SecondLargestPropertyUseType,ThirdLargestPropertyUseType
0,NonResidential,Hotel,Hotel,Hotel,NaN,NaN
1,NonResidential,Hotel,"Hotel, Parking, Restaurant",Hotel,Parking,Restaurant
2,NonResidential,Hotel,Hotel,Hotel,NaN,NaN
3,NonResidential,Hotel,Hotel,Hotel,NaN,NaN
4,NonResidential,Hotel,"Hotel, Parking, Swimming Pool",Hotel,Parking,Swimming Pool
...,...,...,...,...,...,...
3370,Nonresidential COS,Other,Other - Recreation,Other - Recreation,NaN,NaN
3372,Nonresidential COS,Other,Other - Recreation,Other - Recreation,NaN,NaN
3373,Nonresidential COS,Other,"Fitness Center/Health Club/Gym, Other - Recrea...",Other - Recreation,Fitness Center/Health Club/Gym,Swimming Pool
3374,Nonresidential COS,Mixed Use Property,"Fitness Center/Health Club/Gym, Food Service, ...",Other - Recreation,Fitness Center/Health Club/Gym,Pre-school/Daycare
3375,Nonresidential COS,Mixed Use Property,"Fitness Center/Health Club/Gym, Food Service, ...",Other - Recreation,Fitness Center/Health Club/Gym,Pre-school/Daycare

# Contenu de la liste d'usages

**Q** - *La liste des usages contient-elle davantage que les 3 usages principal, secondaire, et troisième ?*

La réponse est oui : la liste peut contenir jusqu'à 10 usages.

In [4]:
from use_types_analysis import tricky_expand
uses_list = use_data.ListOfAllPropertyUseTypes
uses_split = uses_list.apply(tricky_expand)
display(uses_split[uses_split[8].notna()])  # displays rows with at least 8 uses

,0,1,2,3,4,5,6,7,8,9,10
230,Convenience Store without Gas Station,Data Center,Financial Office,Fitness Center/Health Club/Gym,Office,Other,Parking,"Personal Services (Health/Beauty, Dry Cleaning...",Restaurant,NaN,NaN
289,Food Sales,Multifamily Housing,Office,Other - Education,Other - Restaurant/Bar,Pre-school/Daycare,Restaurant,Retail Store,Supermarket/Grocery Store,NaN,NaN
353,Fitness Center/Health Club/Gym,Office,Other - Education,Other - Recreation,Other - Restaurant/Bar,Outpatient Rehabilitation/Physical Therapy,"Personal Services (Health/Beauty, Dry Cleaning...",Restaurant,Retail Store,Self-Storage Facility,Vocat
373,Data Center,Library,Non-Refrigerated Warehouse,Office,Other - Entertainment/Public Assembly,Other - Recreation,Other - Services,Restaurant,Social/Meeting Hall,NaN,NaN

# Réduction de la liste des usages

On produit une liste fermée des (67) usages et une analyse fréquentielle de ceux-ci.

Attention, on ne réduit que l'ensemble des usages apparaissant dans les listes d'usages. Les usages figurant dans les 3 colonnes d'usages principal et secondaires n'y sont pas ajoutés. Cela permet notamment de vérifier plus bas que tous les termes d'usage principal ou secondaire figurent bien dans le lexique constitué par fermeture sur l'ensemble des listes d'usages.

La conclusion de l'analyse est qu'aucun des termes qui apparait dans l'une des 3 colonnes de ventilation des usages n'est un terme isolé ne figurant dans aucune des listes d'usages.

In [5]:
# TODO : améliorer avec graphique de distribution (vertical c'est mieux, cf. sns galery)
from use_types_analysis import unique_uses_table
unique_uses = unique_uses_table(_data)
display(unique_uses)

,freq,area,%f,%a
Multifamily Housing,1665,9.725056e+07,0.287863,0.316416
Office,847,6.461354e+07,0.146438,0.210228
Parking,1072,3.807907e+07,0.185339,0.123895
College/University,27,1.463456e+07,0.004668,0.047615
Non-Refrigerated Warehouse,256,1.208134e+07,0.044260,0.039308
...,...,...,...,...
Swimming Pool,47,0.000000e+00,0.008126,0.000000
Outpatient Rehabilitation/Physical Therapy,2,0.000000e+00,0.000346,0.000000
Single Family Home,1,0.000000e+00,0.000173,0.000000
Energy/Power Station,1,0.000000e+00,0.000173,0.000000
Vocat,1,0.000000e+00,0.000173,0.000000

# Vérifications pour s'assurer de bases solides

On vérifie par sécurité que chacun des 3 usages principaux font bien partie de la liste.

On vérifie même leur position dans la liste.

20 cas se manifestent où au moins l'un des 3 usages principaux ne figure pas dans la liste.

In [6]:
from use_types_analysis import tricky_split, check_positions

# most of the main uses are first in the list of uses, but this is not systematic : check it
print('LargestPropertyUseType is the first of ListOfAllPropertyUseTypes :',
    (uses_split[0] == use_data.LargestPropertyUseType).all())

# for the rest, we reuse the tricky_split
uses_as_list = use_data.ListOfAllPropertyUseTypes.apply(tricky_split)

main_use_pos = check_positions(use_data, use_data.LargestPropertyUseType, uses_as_list, 'main')
second_use_pos = check_positions(use_data, use_data.SecondLargestPropertyUseType, uses_as_list, 'second')
third_use_pos = check_positions(use_data, use_data.ThirdLargestPropertyUseType, uses_as_list, 'third')

LargestPropertyUseType is the first of ListOfAllPropertyUseTypes : False

Where the main use is not in the uses list (1 cases)

,BuildingType,PrimaryPropertyType,ListOfAllPropertyUseTypes,LargestPropertyUseType,SecondLargestPropertyUseType,ThirdLargestPropertyUseType
529,NonResidential,Retail Store,Retail Store,Other,Retail Store,NaN

Where the second use is not in the uses list (5 cases)

,BuildingType,PrimaryPropertyType,ListOfAllPropertyUseTypes,LargestPropertyUseType,SecondLargestPropertyUseType,ThirdLargestPropertyUseType
53,NonResidential,Hotel,Hotel,Hotel,Restaurant,NaN
54,NonResidential,Hotel,Hotel,Hotel,Parking,NaN
718,Multifamily LR (1-4),Low-Rise Multifamily,Multifamily Housing,Multifamily Housing,Other - Services,Office
3271,Multifamily MR (5-9),Mid-Rise Multifamily,Multifamily Housing,Multifamily Housing,Parking,Retail Store
3336,Multifamily MR (5-9),Mid-Rise Multifamily,Multifamily Housing,Multifamily Housing,Retail Store,NaN

Where the third use is not in the uses list (9 cases)

,BuildingType,PrimaryPropertyType,ListOfAllPropertyUseTypes,LargestPropertyUseType,SecondLargestPropertyUseType,ThirdLargestPropertyUseType
220,NonResidential,Large Office,"Office, Parking",Office,Parking,Restaurant
225,NonResidential,Large Office,"Office, Parking",Office,Parking,Convenience Store without Gas Station
233,Nonresidential COS,Large Office,"Office, Parking",Office,Parking,Other
659,Multifamily HR (10+),High-Rise Multifamily,"Multifamily Housing, Other - Restaurant/Bar",Multifamily Housing,Other - Restaurant/Bar,Bank Branch
718,Multifamily LR (1-4),Low-Rise Multifamily,Multifamily Housing,Multifamily Housing,Other - Services,Office
878,Multifamily LR (1-4),Low-Rise Multifamily,"Multifamily Housing, Parking",Multifamily Housing,Parking,Swimming Pool
2762,Multifamily LR (1-4),Low-Rise Multifamily,"Multifamily Housing, Retail Store",Multifamily Housing,Retail Store,Other - Lodging/Residential
3043,Multifamily MR (5-9),Mid-Rise Multifamily,"Multifamily Housing, Parking",Multifamily Housing,Parking,Retail Store
3271,Multifamily MR (5-9),Mid-Rise Multifamily,Multifamily Housing,Multifamily Housing,Parking,Retail Store

Pour compléter cette vérification, listons les usages principaux et secondaires qui ne font pas partie de la liste réduite des usages.

On vérifie bien qu'il n'y a aucun *électron libre*.

In [7]:
from use_types_analysis import not_listed_uses
uses_set = set(unique_uses.index)
print('main uses not listed : ', not_listed_uses(use_data.LargestPropertyUseType, uses_set))
print('second uses not listed : ', not_listed_uses(use_data.SecondLargestPropertyUseType, uses_set))
print('third uses not listed : ', not_listed_uses(use_data.ThirdLargestPropertyUseType, uses_set))

main uses not listed :  []
second uses not listed :  []
third uses not listed :  []

# Hiérarchisation des catégories

Il sagit d'étudier comment les 69 usages se répartissent par rapport à `BuildingType` et `PrimaryPropertyType`.

Première observation, il y a des contradictions apparentes (Multifamily avec usage principal non résidentiel et inversement). Pour lever le doute, il faudra certainement passer en revue quelques cas directement sur Internet.


<mark>TODO :</mark> trouver la signification de COS.
<br/>Peut-être Child Outcome Summary ? https://www.dcyf.wa.gov/services/child-dev-support-providers/esit/cos

In [ ]:
# le faire en effectifs et en surfaces
# pour chaque ligne
# 1. expand des usages de la liste : 69 colonnes (par ordre décroissant des surfaces),
#       O ou X suivant que l'usage figure ou non dans la liste
# 2. ajout des surfaces : 69 colonnes suppl
#       => chantier 3 de la journée : vérifier la cohérence de sommes des surfaces => corrections de données
#       i.e. copie des 69 colonnes et report des surfaces pour les principaux, et division à parts égales pour le reste
# 3. en déduire les fréquences et surfaces par des groupby :
#       a) suivant BuildingType
#       b) suivant PrimaryPropertyType
#       c) suivant les deux (chaque couple unique)
# 4. conclure :
#       pour chaque a) usages les plus fréquents, et les plus représentés en surface
#       idem pour chaque b) et pour chaque c)

## Types d'usages par ordre décroissant de surface

La pondération principale dans ce projet, ce sont les surfaces et non les nombres d'individus.

Si une propriété couvre la moitié de la ville, son impact sur les prévisions sera plus déterminant que 1000 petites propriétés.

In [21]:
display(unique_uses)

,freq,area,%f,%a
Multifamily Housing,1665,9.725056e+07,0.287863,0.316416
Office,847,6.461354e+07,0.146438,0.210228
Parking,1072,3.807907e+07,0.185339,0.123895
College/University,27,1.463456e+07,0.004668,0.047615
Non-Refrigerated Warehouse,256,1.208134e+07,0.044260,0.039308
...,...,...,...,...
Swimming Pool,47,0.000000e+00,0.008126,0.000000
Outpatient Rehabilitation/Physical Therapy,2,0.000000e+00,0.000346,0.000000
Single Family Home,1,0.000000e+00,0.000173,0.000000
Energy/Power Station,1,0.000000e+00,0.000173,0.000000
Vocat,1,0.000000e+00,0.000173,0.000000

### Table relationnelle des usages

La liste d'usages ordonnée par surface décroissante nous permet de produire le tableau canevas pour l'inférence du mix énergétique suivant les usages.

Il s'agit d'un tableau déduit de data dans lequel les usages sont sur 69 colonnes, contenant 0 si l'usage est absent, et de sa surface relevée ou estimée (1/n du reste de surface si la liste des usages est plus longue que 3 usages).

In [23]:
uses_as_list = _data.ListOfAllPropertyUseTypes.apply(tricky_split)
display(uses_as_list)

0                                                 [Hotel]
1                            [Hotel, Parking, Restaurant]
2                                                 [Hotel]
3                                                 [Hotel]
4                         [Hotel, Parking, Swimming Pool]
                              ...
3370                                 [Other - Recreation]
3372                                 [Other - Recreation]
3373    [Fitness Center/Health Club/Gym, Other - Recre...
3374    [Fitness Center/Health Club/Gym, Food Service,...
3375    [Fitness Center/Health Club/Gym, Food Service,...
Name: ListOfAllPropertyUseTypes, Length: 3211, dtype: object

In [8]:
from use_types_analysis import use_table_2
u, diff = use_table_2(_data)
display(u)
display(diff)
display(diff[diff == 0])
display(diff[diff > 0])
display(diff[diff < 0])

,Multifamily Housing,Office,Parking,College/University,Non-Refrigerated Warehouse,Hotel,Other,Retail Store,Hospital (General Medical & Surgical),Senior Care Community,...,Food Sales,Other - Technology/Science,Convenience Store without Gas Station,Fast Food Restaurant,Swimming Pool,Outpatient Rehabilitation/Physical Therapy,Single Family Home,Energy/Power Station,Vocat,nan
0,0.0,0.0,0.0,0,0.0,88434,0.0,0.0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,NaN
1,0.0,0.0,15064.0,0,0.0,83880,0.0,0.0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,NaN
2,0.0,0.0,0.0,0,0.0,756493,0.0,0.0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,NaN
3,0.0,0.0,0.0,0,0.0,61320,0.0,0.0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,NaN
4,0.0,0.0,68009.0,0,0.0,123445,0.0,0.0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3370,0.0,0.0,0.0,0,0.0,0,0.0,0.0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,NaN
3372,0.0,0.0,0.0,0,0.0,0,0.0,0.0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,NaN
3373,0.0,0.0,0.0,0,0.0,0,0.0,0.0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,NaN
3374,0.0,257.5,0.0,0,0.0,0,0.0,0.0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,NaN
3375,0.0,439.5,0.0,0,0.0,0,0.0,0.0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,NaN

0            0.0
1            0.0
2       199617.0
3            0.0
4       -15874.0
          ...
3370         0.0
3372         0.0
3373         0.0
3374       515.0
3375       879.0
Length: 3211, dtype: float64

0       0.0
1       0.0
3       0.0
7       0.0
8       0.0
       ...
3365    0.0
3367    0.0
3370    0.0
3372    0.0
3373    0.0
Length: 1503, dtype: float64

2       199617.0
5         8458.0
6         1656.0
9         7580.0
10       19279.0
          ...
3360       775.0
3364       566.0
3368       437.0
3374       515.0
3375       879.0
Length: 982, dtype: float64

4      -15874.0
11      -3464.0
13     -37159.0
14       -400.0
15      -2987.0
         ...
3352    -8722.0
3353    -7416.0
3355    -1809.0
3357    -4802.0
3359     -844.0
Length: 726, dtype: float64

In [17]:
from use_types_analysis import use_table
u_table = use_table(_data)
display(u_table)

,Unknown,Multifamily Housing,Office,Parking,College/University,Non-Refrigerated Warehouse,Hotel,Other,Retail Store,Hospital (General Medical & Surgical),...,Other - Technology/Science,Convenience Store without Gas Station,Fast Food Restaurant,nan,Convention Center,Vocat,Single Family Home,Swimming Pool,Energy/Power Station,Outpatient Rehabilitation/Physical Therapy
0,0.0,0.0,0.0,0.0,0,0.0,88434,0.0,0.0,0,...,0.0,0.0,0.0,0,0,0.0,0,0.0,0.0,0.0
1,0.0,0.0,0.0,15064.0,0,0.0,83880,0.0,0.0,0,...,0.0,0.0,0.0,0,0,0.0,0,0.0,0.0,0.0
2,199617.0,0.0,0.0,0.0,0,0.0,756493,0.0,0.0,0,...,0.0,0.0,0.0,0,0,0.0,0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0,0.0,61320,0.0,0.0,0,...,0.0,0.0,0.0,0,0,0.0,0,0.0,0.0,0.0
4,-15874.0,0.0,0.0,68009.0,0,0.0,123445,0.0,0.0,0,...,0.0,0.0,0.0,0,0,0.0,0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3370,0.0,0.0,0.0,0.0,0,0.0,0,0.0,0.0,0,...,0.0,0.0,0.0,0,0,0.0,0,0.0,0.0,0.0
3372,0.0,0.0,0.0,0.0,0,0.0,0,0.0,0.0,0,...,0.0,0.0,0.0,0,0,0.0,0,0.0,0.0,0.0
3373,0.0,0.0,0.0,0.0,0,0.0,0,0.0,0.0,0,...,0.0,0.0,0.0,0,0,0.0,0,0.0,0.0,0.0
3374,0.0,0.0,257.5,0.0,0,0.0,0,0.0,0.0,0,...,0.0,0.0,0.0,0,0,0.0,0,0.0,0.0,0.0
3375,0.0,0.0,439.5,0.0,0,0.0,0,0.0,0.0,0,...,0.0,0.0,0.0,0,0,0.0,0,0.0,0.0,0.0

Petite vérification de sécurité.

Beaucoup de valeurs négatives étranges.

In [18]:
total = u_table.sum()
total = total.sort_values(ascending=False)
print(total)

Multifamily Housing                           9.773288e+07
Office                                        6.493775e+07
Parking                                       3.804023e+07
College/University                            1.463456e+07
Non-Refrigerated Warehouse                    1.215221e+07
                                                  ...
Fast Food Restaurant                         -4.084413e+04
Swimming Pool                                -1.919179e+05
Outpatient Rehabilitation/Physical Therapy   -2.546256e+05
Manufacturing/Industrial Plant               -3.353895e+05
Energy/Power Station                         -6.809355e+05
Length: 70, dtype: float64

In [19]:
ffr = u_table['Fast Food Restaurant']
display(ffr[ffr != 0])
display(_data.loc[2675])

# les erreurs recoupent avec celles déjà identifiées en vérifiant les sommes de contrôle.
# C'est un très très gros problème : aller faire un tour sur le discord à ce propos.

163      3086.000000
812      1478.000000
2139     1070.000000
2675   -48608.800000
3026      748.000000
3080     1382.666667
Name: Fast Food Restaurant, dtype: float64

OSEBuildingID                                                                  26555
BuildingType                                                    Multifamily LR (1-4)
PrimaryPropertyType                                             Low-Rise Multifamily
PropertyName                       Circa Green Lake - Municipal Benchmarking Account
Address                                                    6900 E. Green Lake Way N.
ZipCode                                                                      98115.0
TaxParcelIdentificationNumber                                             9528100545
CouncilDistrictCode                                                                6
Neighborhood                                                               NORTHWEST
Latitude                                                                    47.67815
Longitude                                                                 -122.32613
YearBuilt                                                                       2008
NumberofBuildings                                                                1.0
NumberofFloors                                                                     4
PropertyGFATotal                                                              191226
PropertyGFAParking                                                            128050
PropertyGFABuilding(s)                                                         63176
ListOfAllPropertyUseTypes          Fast Food Restaurant, Fitness Center/Health Cl...
LargestPropertyUseType                                           Multifamily Housing
LargestPropertyUseTypeGFA                                                   299642.0
SecondLargestPropertyUseType                                                 Parking
SecondLargestPropertyUseTypeGFA                                             128050.0
ThirdLargestPropertyUseType                                           Medical Office
ThirdLargestPropertyUseTypeGFA                                                6578.0
YearsENERGYSTARCertified                                                201620152014
ENERGYSTARScore                                                                 85.0
SiteEUI(kBtu/sf)                                                                28.1
SiteEUIWN(kBtu/sf)                                                              29.0
SourceEUI(kBtu/sf)                                                         64.400002
SourceEUIWN(kBtu/sf)                                                       65.800003
SiteEnergyUse(kBtu)                                                        8987012.0
SiteEnergyUseWN(kBtu)                                                      9261138.0
SteamUse(kBtu)                                                                   0.0
Electricity(kWh)                                                          1559795.25
Electricity(kBtu)                                                          5322021.0
NaturalGas(therms)                                                       36649.90234
NaturalGas(kBtu)                                                           3664990.0
DefaultData                                                                    False
TotalGHGEmissions                                                             231.75
GHGEmissionsIntensity                                                           1.21
Name: 2675, dtype: object